@model List<RMSCORE.Models.Main.VMOpenJobIndex>
@{
    ViewBag.title = "Job Portal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page header -->
<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h2><span class="text-semibold text-blue">Current Openings</span> </h2> <h6 class="text-semibold">See if you can find exciting challenges at Bestway</h6>
        </div>
        <div class="heading-elements">
            @using (Html.BeginForm("IndexSubmit", "Job", FormMethod.Post))
            {
                <div class="form-group form-inline col-md-12">
                    <input type="text" class="form-control col-md-4" name="FilterBox" id="FilterBox" placeholder="Enter Keyword/Title" value="@ViewBag.FilterBox" />
                    @Html.DropDownList("LocationID", null, new { @class = "form-control", style = "width: 250px;" })
                    @Html.DropDownList("CatagoryID", null, new { @class = "form-control", style = "width: 250px;" })
                    <button type="Submit" class="form-control btn btn-primary">Search</button>
                </div>
            }
        </div>
    </div>
</div>
<!-- /page header -->
<!-- Page container -->
<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Basic datatable -->
            <div class="panel panel-flat">
                @*<div class="panel-heading">
                        <h5 class="panel-title">Basic datatable</h5>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="collapse"></a></li>
                                <li><a data-action="reload"></a></li>
                                <li><a data-action="close"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <h2><span class="text-semibold text-blue">Current Openings</span> </h2> <h6 class="text-semibold">See if you can find exciting challenges at Bestway</h6>
                    </div>*@
                <table class="table datatable-basic">
                    <thead>
                        <tr class="bg-green-600">
                            <th class="text-semibold">Job-ID</th>
                            <th class="text-semibold">Position Title</th>
                            <th class="text-semibold">Department</th>
                            <th class="text-semibold">Catagory</th>
                            <th class="text-semibold">Location</th>
                            <th class="text-semibold">Opening Date</th>
                            <th class="text-semibold">Closing Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="text-semibold">@item.JobID</div>
                                </td>
                                <td>
                                    <div class="text-semibold"><a href="~/Job/JobDetail?JobID=@item.JobID">@item.JobTitle</a></div>
                                    <div class="text-muted">Click on title for more information..</div>
                                </td>
                                <td>
                                    <div class="text-semibold">@item.DepatmentName</div>
                                </td>
                                <td>
                                    <div class="text-semibold">@item.CatName</div>
                                </td>
                                <td>
                                    <div class="text-semibold">@item.LocName</div>
                                </td>
                                <td>
                                    <div class="text-semibold">@item.CreatedDate.Value.ToString("MM/dd/yyyy")</div>
                                </td>
                                <td>
                                    <div class="text-semibold">@item.DeadlineDate.Value.ToString("MM/dd/yyyy")</div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /basic datatable -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</div>
<!-- /page container -->
