@model List<RMSCORE.Models.Main.VMOpenJobIndex>
@{
    ViewBag.title = "Job Portal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page header -->
<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h2><span class="text-semibold text-blue">Vacant Positions</span> </h2> <h6 class="text-semibold">See if you find exciting challenges in Bestway</h6>
        </div>
        <div class="heading-elements">
            @using (Html.BeginForm("IndexSubmit", "Job", FormMethod.Post))
            {
            <div class="form-group form-inline col-md-12">
                <input type="text" class="form-control col-md-4" name="FilterBox" id="FilterBox" placeholder="Enter Keyword/Title" value="@ViewBag.FilterBox" />
                @Html.DropDownList("LocationID", null, new { @class = "form-control", style = "width: 250px;" })
                @Html.DropDownList("CatagoryID", null, new { @class = "form-control", style = "width: 250px;" })
                <button type="Submit" class="form-control btn btn-primary">Search</button>
            </div>
            }
        </div>
    </div>
</div>
<!-- /page header -->
<!-- Page container -->
<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Task manager table -->
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title text-bold">Open Vacancies</h4>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                            <li><a data-action="close"></a></li>
                        </ul>
                    </div>
                </div>
                <table class="table dataTable-basic">
                    <thead>
                        <tr>
                            <th class="text-semibold text-blue-400">Position Title</th>
                            <th class="text-semibold text-blue-400">Department</th>
                            <th class="text-semibold text-blue-400">Catagory</th>
                            <th class="text-semibold text-blue-400">Location</th>
                            <th class="text-semibold text-blue-400">Created Date</th>
                            <th class="text-semibold text-blue-400">Closing Date</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tbody>
                            <tr>
                                <td>
                                    <div class="text-semibold"><a href="~/Job/JobDetail?JobID=@item.JobID">@item.JobTitle</a></div>
                                    <div class="text-muted">Click on title for more information..</div>
                                </td>
                                <td>
                                    <div class="text-semibold">@item.DepatmentName</div>
                                </td>
                                <td>
                                    <div class="text-semibold">@item.CatName</div>
                                </td>
                                <td>
                                    <div class="text-semibold">@item.LocName</div>
                                </td>
                                <td>
                                    <div class="text-semibold">@item.CreatedDate</div>
                                </td>
                                <td>
                                    <div class="text-semibold">@item.DeadlineDate</div>
                                </td>
                            </tr>

                        </tbody>
                    }
                </table>
            </div>
            <!-- /task manager table -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</div>
<!-- /page container -->
