@model List<RMSCORE.Models.Main.VMAppliedJobIndex>
@{
    ViewBag.title = "Applied Jobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ValidationSummary(true)
@Html.Raw(TempData["Error"])
<div style="margin-top:-20px">
    <div class="modal-header">
        <div class="modal-title">
            <h3 class=" text-black"><i class="icon-attachment text-black"></i>&nbsp;&nbsp;Applied Jobs</h3>
        </div>
    </div>
</div>
<div class="page-container">
    <div class="page-content">
        <div class="content-wrapper">
            <div class="panel panel-flat">
                <div class="modal-header bg-primary" style="padding:20px">
                </div>
                <table class="table datatable-basic">
                    <thead>
                        <tr>
                            <th>
                                Job Title
                            </th>
                            <th>
                                Applied Date
                            </th>
                            <th>
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.JobTitle)
                                </td>
                                <td>
                                    @if (item.CJobDate != null)
                                    {
                                        @item.CJobDate.Value.ToString("dd-MM-yyyy");
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>