@model RMSCORE.Models.Main.VMOpenJobIndex
@{
    ViewBag.title = "Experience details";
    Layout = null;
}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Careers&nbsp; at &nbsp; Bestway&nbsp;Cement&nbsp;Ltd.</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Theme/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/ui/drilldown.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/ui/ripple.min.js"></script>
    <script type="text/javascript" src="/Theme/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Theme/assets/js/core/app.js"></script>
    <script type="text/javascript" src="/Theme/assets/js/pages/job_list.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/pages/datatables_basic.js"></script>
    <!-- /theme JS files -->
    <style>
        .form-control {
            display: block;
            width: 100%;
            height: 38px;
            padding: 8px 16px;
            font-size: 13px;
            line-height: 1.5384616;
            color: #0094ff;
            background-color: transparent;
            background-image: none;
            border: 1px solid #ddd;
            border-radius: 3px;
        }
    </style>
</head>
<div class="navbar navbar-inverse bg-primary">
    <div class="navbar-header">
        <div style="padding-left:20px; padding-top:10px;">
            <a href="~/Home/Index"><img src="~/Theme/assets/images/bcl_logo_final.png" height="30" /></a>
            <span class="h6 text-bold" style="padding-left:10px;"> Careers&nbsp; at &nbsp; Bestway&nbsp;Cement&nbsp;Ltd.</span>
        </div>
    </div>
    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="~/Home/Login"><span class="h6 text-bold">Apply Online</span></a>
            </li>

        </ul>
    </div>
</div>
<!-- Page container -->
<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Details -->
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="media stack-media-on-mobile text-left content-group-lg">
                        <a href="#" class="media-left media-middle">
                            <img src="/Theme/assets/images/placeholder.jpg" class="img-rounded img-lg" alt="">
                        </a>
                        <div class="media-body">
                            <h5 class="media-heading text-semibold">@Html.DisplayFor(x => x.JobTitle)</h5>
                            <ul class="list-inline list-inline-separate text-muted no-margin">
                                <li>@Html.DisplayFor(x => x.LocName)</li>
                            </ul>
                        </div>

                        @*<div class="media-right media-middle text-nowrap">
                                @if (Model.IsApplied == false)
                                {
                                    <a href="#" name="submit" onclick="ApplyJob(@Model.JobID)" class="btn bg-success-400"><i class="icon-envelop2 position-left"></i> Apply for this job</a>
                                }
                                else
                                {
                                    <span class="glyphicon-ok-sign">Already Applied For this Job</span>
                                }
                            </div>*@
                        <div class="content-group-lg">
                            <h6 class="text-semibold">Job Description</h6>
                            <p>@Html.DisplayFor(x => x.Description)</p>
                        </div>
                        <div class="content-group-lg">
                            <h6 class="text-semibold">Responsibilities:</h6>
                            <p class="content-group-sm">@Html.DisplayFor(x => x.Resposibilties)</p>
                        </div>
                        <div class="content-group-lg">
                            <h6 class="text-semibold">Requirements:</h6>
                            <p class="content-group-sm">@Html.DisplayFor(x => x.QualificationReq)</p>
                        </div>
                        <div class="content-group-lg">
                            <h6 class="text-semibold">Desired Skills and Experience:</h6>
                            <p class="content-group-sm">@Html.DisplayFor(x => x.SkillReq)</p>
                        </div>
                    </div>
                    <!-- /details -->
                </div>
                <!-- /main content -->
            </div>
            <!-- /page content -->
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/Candidate/JobPortal.js"></script>
