@model RMSCORE.Models.Main.VMOpenJobIndex
@{
    ViewBag.title = "Experience details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ValidationSummary(true)
@{RMSCORE.EF.V_UserCandidate LoggedInUser = (RMSCORE.EF.V_UserCandidate)HttpContext.Current.Session["LoggedInUser"]; }
<!-- Page container -->
<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Details -->
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="media stack-media-on-mobile text-left content-group-lg">
                        <div class="media-body">
                            <h4 class="media-heading text-semibold">@Html.DisplayFor(x => x.JobTitle)</h4>
                            <ul class="list-inline list-inline-separate text-muted no-margin">
                                <li><span class="text-semibold">Location:</span> @Html.DisplayFor(x => x.LocName)</li>
                                <li><span class="text-semibold">Department: </span>@Html.DisplayFor(x => x.DepatmentName)</li>
                            </ul>
                        </div>
                        <div class="media-right media-middle text-nowrap">
                            @if (Model.IsApplied == false)
                            {
                                <button type="button" id="DivJobApply" class="btn bg-primary"><i class="icon-envelop2 position-left"></i> Apply for this job</button>
                            }
                            <span id="DivJobApplied"> <i class="icon-checkmark3"></i>Already Applied For this Job</span>
                        </div>
                        <div class="content-group-lg">
                            <h6 class="text-semibold">Position Purpose</h6>
                            <p>@Html.Raw(Model.PositionPurpose)</p>
                        </div>
                        <div class="content-group-lg">
                            <h6 class="text-semibold">Job Description</h6>
                            <p class="content-group-sm">
                                @Html.Raw(Model.JobDescription)
                            </p>
                        </div>
                        <div class="content-group-lg">
                            <h6 class="text-semibold">Experience and Qualification</h6>
                            <p class="content-group-sm"> @Html.Raw(Model.ExperienceAndQualification)</p>
                        </div>
                        <div class="content-group-lg">
                            <h6 class="text-semibold">Specific Requirements</h6>
                            <p class="content-group-sm"> @Html.Raw(Model.SpecificRequirement)</p>
                        </div>
                        <div class="media-middle media-middle text-nowrap" align="center">
                            @if (Model.IsApplied == false)
                            {
                                <button type="button" id="DivJobApply2" class="btn bg-primary"><i class="icon-envelop2 position-left"></i> Apply for this job</button>
                                @*<a href="#" name="submit" id="DivJobApply2" onclick="CheckCVAttachedJob(@LoggedInUser.HasCV,@Model.JobID,@Model.IsCompletedProfile,@Model.CatagoryID)" class="btn bg-primary"><i class="icon-envelop2 position-left"></i> Apply for this job</a>*@
                            }
                            <span id="DivJobApplied2"> <i class="icon-checkmark3"></i>Already Applied For this Job</span>
                        </div>
                    </div>
                    <!-- /details -->
                </div>
                <!-- /main content -->
            </div>
            <!-- /page content -->
        </div>
    </div>
</div>
<div>
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div id="modelBody1">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/Candidate/JobPortal.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        CheckCVAttachedJobUpper('@LoggedInUser.HasCV',@Model.JobID,@Model.IsCompletedProfile,@Model.CatagoryID);
         CheckCVAttachedJobLower('@LoggedInUser.HasCV',@Model.JobID,@Model.IsCompletedProfile,@Model.CatagoryID);
        if ('@(Model.IsApplied ==false)'=='True')
            $("#DivJobApplied").hide();
        if ('@(Model.IsApplied ==false)' == 'True')
            $("#DivJobApplied2").hide();
    });
</script>