@model RMSCORE.Models.Main.VMCandidateProfileView
@{
    ViewBag.title = "View Profile";
    Layout = null;
}
@{RMSCORE.EF.V_UserCandidate LoggedInUser = (RMSCORE.EF.V_UserCandidate)HttpContext.Current.Session["LoggedInUser"];
    @Html.HiddenFor(model => model.CandidateID)
    @Html.HiddenFor(model => model.JobID)
    <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-title">
            <h3 id="titlehide" class="panel-title text-bold">Candidate Profile@*<span class="text-black"> @Html.DisplayFor(model => model.PersonalDetails.CName)</span>*@</h3>
        </div>
    </div>
    <div class="modal-body">
        <div class=" col-lg-12">
            <!-- Basic tabs -->
            <div class="row" id="profiledivhide">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#basic-tab1" data-toggle="tab">Personal</a></li>
                        <li><a href="#basic-tab2" data-toggle="tab">Education</a></li>
                        <li><a href="#basic-tab4" data-toggle="tab">Experience</a></li>
                        <li><a href="#basic-tab8" data-toggle="tab">Skill</a></li>
                        <li><a href="#basic-tab6" data-toggle="tab">Self-Assessment</a></li>
                        <li><a href="#basic-tab7" data-toggle="tab">Referrence</a></li>
                        <li><a href="#basic-tab3" data-toggle="tab">Miscellaneous</a></li>
                        @*<li><a href="#basic-tab5" data-toggle="tab">Compensation</a></li>*@
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="basic-tab1">
                            <div class="profile-user-info-striped">
                                <div class="profile-user-info-striped">
                                    <div class="row">
                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Name</label>
                                            </div>
                                            @Html.DisplayFor(model => model.PersonalDetails.SalutationName, new { @class = "form-control " })
                                            @Html.DisplayFor(model => model.PersonalDetails.CName, new { @class = "form-control " })
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Father's/Husband's Name</label>
                                            </div>
                                            @Html.DisplayFor(model => model.PersonalDetails.FatherName, new { @class = "form-control " })
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">CNIC/Passport No</label>
                                            </div>
                                            @Html.DisplayFor(model => model.PersonalDetails.CNICNo, new { @class = "form-control " })
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Date of Birth</label>
                                            </div>
                                            @if (Model.PersonalDetails.DOB != null)
                                            {@Model.PersonalDetails.DOB.Value.ToString("MM/dd/yyyy")}

                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Gender</label>
                                            </div>
                                            @Html.DisplayFor(model => model.PersonalDetails.GenderName, new { @class = "form-control " })
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Area Of Interest</label>
                                            </div>
                                            @Html.DisplayFor(model => model.PersonalDetails.AreaOfInterestName, new { @class = "form-control " })
                                        </div>

                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Domicile</label>
                                            </div>
                                            @Html.DisplayFor(model => model.PersonalDetails.DomicileCityName, new { @class = "form-control " })
                                        </div>

                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Address</label>
                                            </div>
                                            @Html.DisplayFor(model => model.PersonalDetails.Address, new { @class = "form-control " })
                                        </div>
                                        @*<div class="form-group col-md-3">
                                                <div>
                                                    <label class="text-semibold">Marital Status</label>
                                                </div>
                                                @Html.DisplayFor(model => model.PersonalDetails.MartialStatusName, new { @class = "form-control " })
                                            </div>
                                            <div class="form-group col-md-3">
                                                <div>
                                                    <label class="text-semibold">Religion</label>
                                                </div>
                                                @Html.DisplayFor(model => model.PersonalDetails.ReligionName, new { @class = "form-control " })
                                            </div>
                                            <div class="form-group col-md-3">
                                                <div>
                                                    <label class="text-semibold">Blood Group</label>
                                                </div>
                                                @Html.DisplayFor(model => model.PersonalDetails.BGroupName, new { @class = "form-control " })
                                            </div>*@
                                    </div>
                                    <div class="row">


                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Country</label>
                                            </div>
                                            @Html.DisplayFor(model => model.PersonalDetails.CountryName, new { @class = "form-control " })
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">City</label>
                                            </div>
                                            @Html.DisplayFor(model => model.PersonalDetails.CityName, new { @class = "form-control " })
                                        </div>

                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Nationality</label>
                                            </div>
                                            @Html.DisplayFor(model => model.PersonalDetails.NationalityCountry, new { @class = "form-control " })
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Cell #</label>
                                            </div>
                                            @Html.DisplayFor(model => model.PersonalDetails.CellNo, new { @class = "form-control " })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Email</label>
                                            </div>
                                            @Html.DisplayFor(model => model.PersonalDetails.EmailID, new { @class = "form-control " })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="basic-tab2">
                            <table class="table datatable-basic">
                                <thead>
                                    <tr>
                                        <th class="text-bold">
                                            Degree Level
                                        </th>
                                        <th class="text-bold">
                                            Institution
                                        </th>
                                        <th class="text-bold">
                                            Degree Title
                                        </th>
                                        <th class="text-bold">
                                            Completion Date
                                        </th>
                                        <th class="text-bold">
                                            Percentage
                                        </th>
                                        <th class="text-bold">
                                            CGPA
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.EducationalDetails)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DegreeLevel)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.InstituteName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DegreeTitle)
                                            </td>
                                            @if (item.InProgress == false)
                                            {
                                                <td>
                                                    @if (item.EndDate != null)
                                                    {@item.EndDate.Value.ToString("MM/dd/yyyy")}
                                                </td>
                                            }
                                            @if (item.InProgress == true)
                                            {
                                                <td>
                                                    <strong>Currently Studying</strong>
                                                </td>
                                            }
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Percentage)/ @Html.DisplayFor(modelItem => item.CGPA)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="tab-pane" id="basic-tab4">
                            <table class="table datatable-basic">
                                <thead>
                                    <tr>
                                        <th class="text-bold">
                                            Employer
                                        </th>
                                        <th class="text-bold">
                                            Manager's Name
                                        </th>
                                        <th class="text-bold">
                                            Nature of business
                                        </th>
                                        <th class="text-bold">
                                            Job Title
                                        </th>
                                        <th class="text-bold">
                                            Joining Date
                                        </th>
                                        <th class="text-bold">
                                            Leaving Date
                                        </th>
                                        <th class="text-bold">
                                            Contact Employer
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ExperienceDetails)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmployerName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SupervisorName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ExpIndustryName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PostionTitle)
                                            </td>
                                            <td>
                                                @if (item.StartDate != null)
                                                {@item.StartDate.Value.ToString("MM/dd/yyyy");
                                            }
                                            </td>
                                            <td>
                                                @if (item.EndDate != null)
                                                {@item.EndDate.Value.ToString("MM/dd/yyyy");
                                            }
                                            </td>
                                            <td>
                                                @if (item.ContactEmployer == true)
                                                {
                                                    <strong>Yes</strong>
                                                }
                                                @if (item.ContactEmployer == false)
                                                {
                                                    <strong>No</strong>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>


                        <div class="tab-pane" id="basic-tab8">
                            <table class="table datatable-basic">
                                <thead>
                                    <tr>
                                        <th class="text-bold">
                                            Skill level
                                        </th>
                                        <th class="text-bold">
                                            Skill Name
                                        </th>
                                        <th class="text-bold">
                                            Description
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Skill)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SkillLevelName)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>


                        <div class="tab-pane" id="basic-tab6">
                            <div class="profile-user-info-striped">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div>
                                            <label class="control-label text-semibold">Objectives:</label>
                                            @Html.DisplayFor(model => model.SelfAssessment.Objective, new { @class = "form-control " })
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div>
                                            <label class="required control-label text-semibold">Strengths:</label>
                                            @Html.DisplayFor(model => model.SelfAssessment.Strengths, new { @class = "form-control " })
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div>
                                            <label class="required control-label text-semibold">Areas of improvement</label>
                                            @Html.DisplayFor(model => model.SelfAssessment.AreaOfImprovement, new { @class = "form-control " })
                                        </div>
                                    </div><div class="form-group col-md-12">
                                        <div>
                                            <label class="required control-label text-semibold">Briefly explain your skills and experience:</label>
                                            @Html.DisplayFor(model => model.SelfAssessment.MeetRequirements, new { @class = "form-control " })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="basic-tab7">
                            <table class="table datatable-basic">
                                <thead>
                                    <tr>
                                        <th class="text-bold">
                                            Organization
                                        </th>
                                        <th class="text-bold">
                                            Name
                                        </th>
                                        <th class="text-bold">
                                            Designation
                                        </th>
                                        <th class="text-bold">
                                            Contact
                                        </th>
                                        <th class="text-bold">
                                            Email
                                        </th>
                                        <th class="text-bold">
                                            Known period
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Referrence)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RefName)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.RefDesignation)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RefEmail)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RefContact)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.HowLongKnown)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Organization)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>


                        <div class="tab-pane" id="basic-tab3">
                            <div class="profile-user-info-striped">
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="text-semibold">Have you ever been convicted of any crime?</label>
                                        <div>
                                            @Html.DisplayFor(model => model.MiscellaneousDetails.CrimanalRecord, new { @class = "form-control " })
                                        </div>
                                    </div>
                                    <div class="form-group col-md-5">
                                        <div>
                                            <label class="text-semibold">Do you have any relatives working presently with Bestway Group?</label>
                                        </div>
                                        @Html.DisplayFor(model => model.MiscellaneousDetails.WorkingRelative, new { @class = "form-control " })
                                    </div>
                                    <div class="form-group col-md-3">
                                        <div>
                                            <label class="text-semibold">Do you have any disability?</label>
                                        </div>
                                        @Html.DisplayFor(model => model.MiscellaneousDetails.Disability, new { @class = "form-control " })
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div>
                                            <label class="text-semibold">Have you been interviewed at Bestway Group before?</label>
                                        </div>
                                        @Html.DisplayFor(model => model.MiscellaneousDetails.InterviewedBefore, new { @class = "form-control " })
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div>
                                            <label class="text-semibold">Have you worked before with Bestway Group?</label>
                                        </div>
                                        @Html.DisplayFor(model => model.MiscellaneousDetails.WorkedBefore, new { @class = "form-control " })
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div>
                                            <label class="text-semibold">From where did you hear about the job?</label>
                                        </div>
                                        @Html.DisplayFor(model => model.MiscellaneousDetails.HearAboutSource, new { @class = "form-control " })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <div>
                                            <label class="text-semibold">How much notice you need to give to your current employer?</label>
                                        </div>
                                        @Html.DisplayFor(model => model.MiscellaneousDetails.NoticeTime, new { @class = "form-control " })
                                    </div>
                                    <div class="form-group col-md-2">
                                        <div>
                                            <label class="text-semibold">Total Experience</label>
                                        </div>
                                        @Html.DisplayFor(model => model.MiscellaneousDetails.TotalExp, new { @class = "form-control " })
                                    </div>
                                    <div class="form-group col-md-2">
                                        <div>
                                            <label class="text-semibold">Cement Experience</label>
                                        </div>
                                        @Html.DisplayFor(model => model.MiscellaneousDetails.CementExp, new { @class = "form-control " })
                                    </div>
                                    <div class="form-group col-md-2">
                                        <div>
                                            <label class="text-semibold">Monthly Gross Salary</label>
                                        </div>
                                        @Html.DisplayFor(model => model.MiscellaneousDetails.MGSalary, new { @class = "form-control " })
                                    </div>
                                    <div class="form-group col-md-2">
                                        <div>
                                            <label class="text-semibold">Expected Salary</label>
                                        </div>
                                        @Html.DisplayFor(model => model.MiscellaneousDetails.ExpectedSalary, new { @class = "form-control " })
                                    </div>
                                </div>
                            </div>
                        </div>


                        @*<div class="tab-pane" id="basic-tab5">
                                <div class="profile-user-info-striped">
                                    <div class="row">
                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Monthly Basic Salary </label>
                                            </div>
                                            @Html.DisplayFor(model => model.CompensationDetails.MBSalary, new { @class = "form-control " })
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Monthly Gross Salary</label>
                                            </div>
                                            @Html.DisplayFor(model => model.CompensationDetails.MGSalary, new { @class = "form-control " })
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Bonus</label>
                                            </div>
                                            @Html.DisplayFor(model => model.CompensationDetails.Bonus, new { @class = "form-control " })


                                        </div>
                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">LFA(Leave Fare Assistance)</label>
                                            </div>
                                            @Html.DisplayFor(model => model.CompensationDetails.LFA, new { @class = "form-control " })

                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Overtime</label>
                                            </div>
                                            @Html.DisplayFor(model => model.CompensationDetails.OT, new { @class = "form-control " })

                                        </div>

                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Transport Allowance</label>
                                            </div>
                                            @Html.DisplayFor(model => model.CompensationDetails.TransportAllowence, new { @class = "form-control " })
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Vehicle Entitlement</label>
                                            </div>
                                            @Html.DisplayFor(model => model.CompensationDetails.CarEntitlement, new { @class = "form-control " })
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Buy Back Option</label>
                                            </div>
                                            @Html.DisplayFor(model => model.CompensationDetails.BuyBackOption, new { @class = "form-control " })

                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Fuel Allowance</label>
                                            </div>
                                            @Html.DisplayFor(model => model.CompensationDetails.FuelAllowance, new { @class = "form-control " })
                                        </div>

                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Accomodation Allowance</label>
                                            </div>
                                            @Html.DisplayFor(model => model.CompensationDetails.AccomdAllowence, new { @class = "form-control " })
                                        </div>

                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Mobile  Allowance</label>
                                            </div>
                                            @Html.DisplayFor(model => model.CompensationDetails.MobileAllowence, new { @class = "form-control " })
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Monthly Usage Limit</label>
                                            </div>
                                            @Html.DisplayFor(model => model.CompensationDetails.MobileUserLimit, new { @class = "form-control " })
                                        </div>
                                    </div>
                                    <div class="row">



                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Mobile Renewal Period</label>
                                            </div>
                                            @Html.DisplayFor(model => model.CompensationDetails.MobileNoOfYears, new { @class = "form-control " })
                                        </div>

                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">COLA(Cost of living Allowance)</label>
                                            </div>
                                            @Html.DisplayFor(model => model.CompensationDetails.COLA, new { @class = "form-control " })
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Others</label>
                                            </div>
                                            @Html.DisplayFor(model => model.CompensationDetails.Other, new { @class = "form-control " })
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Food</label>
                                            </div>
                                            @Html.DisplayFor(model => model.CompensationDetails.Food, new { @class = "form-control " })

                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">OPD Limit</label>
                                            </div>
                                            @Html.DisplayFor(model => model.CompensationDetails.OPDInsurance, new { @class = "form-control " })
                                        </div>

                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">IP Limit</label>
                                            </div>
                                            @Html.DisplayFor(model => model.CompensationDetails.IPInsurance, new { @class = "form-control " })
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Life Insurance</label>
                                            </div>
                                            @Html.DisplayFor(model => model.CompensationDetails.LifeInsurance, new { @class = "form-control " })
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Provident Fund</label>
                                            </div>
                                            @Html.DisplayFor(model => model.CompensationDetails.ProvidentFund, new { @class = "form-control " })

                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Gratuity</label>
                                            </div>
                                            @Html.DisplayFor(model => model.CompensationDetails.Gratuity, new { @class = "form-control " })

                                        </div>

                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Annual Leaves</label>
                                            </div>
                                            @Html.DisplayFor(model => model.CompensationDetails.AnnualTAllowence, new { @class = "form-control " })
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Casual Leaves</label>
                                            </div>
                                            @Html.DisplayFor(model => model.CompensationDetails.CasualTAllowence, new { @class = "form-control " })
                                        </div>

                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Sick Leaves</label>
                                            </div>
                                            @Html.DisplayFor(model => model.CompensationDetails.MedTAllowence, new { @class = "form-control " })
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Working Days/Week</label>
                                            </div>
                                            @Html.DisplayFor(model => model.CompensationDetails.TAllowenceWorkDay, new { @class = "form-control " })
                                        </div>

                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Expected Salary</label>
                                            </div>
                                            @Html.DisplayFor(model => model.CompensationDetails.ExpectedSalary, new { @class = "form-control " })
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div>
                                                <label class="text-semibold">Any other Benefit</label>
                                            </div>
                                            @Html.DisplayFor(model => model.CompensationDetails.OtherBenifits, new { @class = "form-control " })
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
            @*<div class="col-md-12">
                    <input type='button' id='hideshow1' class="btn btn-info pull-right" value='Apply'>
                </div>*@
            <div class="col-md-12" id="hrhide">
                <hr />
            </div>
            <div class="form-group" id="hideshow2">
                <div class="checkbox col-md-5">
                    <label>
                        <input type="checkbox" id="ask2" name="ask2">
                        Do you want to apply with this profile
                    </label>
                    <label class="text-semibold">
                        OR
                    </label>
                </div>
                <div class="col-md-7">
                    @Html.ActionLink("Update Profile", "Index", "Candidate", null, new { @class = "btn bg-primary btn-large" })
                </div>
            </div>

            <!-- /basic tabs -->
            <div class="row" id="declarationdivhide">
                <h4><a id="OfficialInfo" class="text-black">Declaration:</a></h4>
                <div class="text-black">
                    <b><strong>Note: </strong> Please read the below terms and conditions statement carefully</b>
                </div>
                <p class="text-highlight">
                    I certify that the information provided by me in this form and all transcripts/documents/CV submitted herewith or in connection with this application for employment is accurate and true, and may be subject to verification, I understand that falsification or concealment of any information, may disqualify my application and/or be ground for disciplinary action up to and including termination and/or legal action. Unless otherwise indicated, I agree and give my consent that any person, firm or organization listed herein is authorized to furnish Bestway with reference material concerning my character, past employment or any other information requested.
                </p>
                <lable class="col-md-1 text-bold">Signature=</lable>
                <div class="col-md-3 text-bold">
                    @Html.DisplayFor(model => LoggedInUser.CName)
                </div>
                <div class="checkbox-inline col-md-8">
                    <input type="checkbox" class="styled" id="ask" name="ask" value="ask">
                    <label class="control-label text-bold" for="ask">I have read and accepted the above terms and conditions</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div id="ApproveDecline">
            <button type="button" onclick="ApplyJob(@Model.JobID,'@(HttpContext.Current.Session["ProfileStage"])')" class="btn btn-primary bg-primary-400" value="Save">Apply</button>
            <button type="button" class="btn bg-grey" name="Close" data-dismiss="modal">Cancel</button>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        //$("#hideshow2").hide();
        //$("#hideshow1").click(function () {
        //    $("#hideshow2").toggle();
        //});
        SelectAllCheckBox();
    });
</script>



