@model List<RMSCORE.Models.Main.VMEduDetailIndex>
@{
    Layout = null;
}
<!-- Page container -->
<head>
    <style>
        .panel-body {
            background-color: white;
        }
    </style>
</head>
<head>
    <style>
        .dataTable .dataTables_empty {
            text-align: center;
            content: "Nomi",
        }
    </style>
</head>
<div style="margin-top:-25px">
    <div class="modal-header">
        <div class="modal-title">
            <h3 class="text-black">
                <i class="icon-book"></i>&nbsp;&nbsp;Education&nbsp;<small class="text-black">(You have to add at least one education to proceed further)</small>
            </h3>

        </div>
    </div>
</div>
<div class="panel panel-flat">
    <div class="breadcrumb-line bg-primary">
        <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
        <ul class="breadcrumb-elements pull-left bg-blue-800" style="margin-left:-20px">
            <li><a href="#" id="EduGetCreate"><i class="icon-add"></i> Add New Education</a></li>
        </ul>
    </div>
    <table class="table datatable-basic">
        <thead>
            <tr>
                <th class="text-bold">
                    Degree level
                </th>
                <th class="text-bold">
                    Institution
                </th>
                <th class="text-bold">
                    Degree title
                </th>
                <th class="text-bold">
                    Completion date
                </th>
                <th class="text-bold">
                    Percentage
                </th>
                <th class="text-bold">
                    CGPA
                </th>
                <th class="text-bold">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DegreeLevelName)
                    </td>

                    <td>
                        @if (item.InstitutionID == null || item.InstitutionID == 0)
                        {
                            if (item.BoardID != 48)
                            {
                                @Html.DisplayFor(modelItem => item.BoardName)
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.OtherBoardName)
                            }
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.InstitutionName)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DegreeTitle)
                    </td>
                    @if (item.InProgress == false)
                    {
                        <td>
                            @if (item.EndDate != null)
                            {@item.EndDate.Value.ToString("dd-MMM-yyyy")}
                        </td>
                    }
                    @if (item.InProgress == true)
                    {
                        <td>
                            <strong>Currently Studying</strong>
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Percentage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CGPA)
                    </td>
                    <td>
                        <button type="button" id="btnGetEdit" onclick="EduDetailGetEdit(@item.EduID)" class="btn border-info-600 btn-flat text-indigo-600 btn-icon btn-rounded"><i class="icon-pencil6"></i></button>
                        @*<button type="button" id="btnGetDelete" onclick="EduDetailGetDelete(@item.EduID)" class="btn border-warning btn-xs text-warning-700 btn-flat btn-rounded"><i class="note-icon-trash"></i></button>*@

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="btn btn-toolbar pull-right">
        <button type="button" onclick="CandidateGetCreate()" class="btn bg-grey icon-arrow-left15" style=" font-family: 'Optima-Family'">Previous</button>
        <button type="button" onclick="LoadPVExperienceDetailIndex()" class="btn bg-grey icon-arrow-right15">Next</button>
    </div>
</div>
<!-- Main content -->
<!-- Basic datatable -->
<script src="~/Theme/assets/js/pages/datatables_basic.js"></script>
<script type="text/javascript" src="~/Scripts/Candidate/EduDetail.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        EduDetailGetCreate();
    });
</script>
