@model List<RMSCORE.Models.Main.VMEduDetailIndex>

<!-- Page container -->
<head>
    <style>
        .panel-body {
            background-color: white;
        }
    </style>
</head>
<div style="margin-top:-45px">
    <div class="modal-header">
        <div class="modal-title">
            <h3 class="text-black"><i class="icon-book"></i>&nbsp;&nbsp;Education Details</h3>
        </div>
    </div>
</div>
<div class="panel panel-flat">
    <div class="breadcrumb-line bg-green-600">
        <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
        <ul class="breadcrumb-elements bg-green-800" style="margin-right:-20px">
            <li><a href="#" id="EduGetCreate"><i class="icon-add position-left"></i> Add New Detail</a></li>
        </ul>
    </div>
        <table class="table datatable-basic">
            <thead>
                <tr>
                    <th class="text-bold">
                        Degree Level
                    </th>
                    <th class="text-bold">
                        Institution
                    </th>
                    <th class="text-bold">
                        Completion Date
                    </th>
                    <th class="text-bold">
                        Obtained Marks
                    </th>
                    <th class="text-bold">
                        Total Marks
                    </th>
                    <th class="text-bold">
                        Percentage/CGPA
                    </th>
                    <th class="text-bold">
                        Edit | Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DegreeName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.InstitutionName)
                        </td>
                        <td>
                            @item.EndDate.Value.ToString("dd-MMM-yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ObtainedMark)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalMark)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Percentage)/ @Html.DisplayFor(modelItem => item.CGPA)
                        </td>
                        <td>
                            <a href="#" type="button" onclick="EduDetailGetEdit(@item.EduID)" value="Edit" class="icon-pencil"></a> &nbsp;&nbsp;&nbsp;
                            <a href="#" type="button" onclick="EduDetailGetDelete(@item.EduID)" value="Delete" class="icon-trash" style="color:red"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>
<div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div id="modelBody">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main content -->
<!-- Basic datatable -->
<script type="text/javascript" src="~/Scripts/Candidate/EduDetail.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        EduDetailGetCreate();
    });
</script>
