@model List<RMSCORE.Models.Main.VMEduDetailIndex>

<!-- Page container -->
<div style="margin-top:-20px">
    <div class="panel-heading">
        <h3 class="panel-title text-semibold"><i class="icon-book"></i>&nbsp;&nbsp;Educational Details</h3>
    </div>
</div>
<div class="panel panel-white">
    <div class="breadcrumb-line bg-blue-400">
        <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
        <ul class="breadcrumb-elements">
            <li><a href="#" id="EduGetCreate"><i class="icon-add position-left"></i> Add New Detail</a></li>
        </ul>
    </div>
    <table class="table datatable-basic">
        <thead>
            <tr>
                <th>
                    Degree Level
                </th>
                <th>
                    Institution
                </th>
                <th>
                    Completion Date
                </th>
                <th>
                    Obtained Marks
                </th>
                <th>
                    Total Marks
                </th>
                <th>
                    Percentage/CGPA
                </th>
                <th>
                    Edit | Delete
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DegreeName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.InstitutionName)
                    </td>
                    <td>
                        @item.EndDate.Value.ToString("dd-MMM-yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ObtainedMark)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalMark)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Percentage)/ @Html.DisplayFor(modelItem => item.CGPA)
                    </td>
                    <td>
                        <a href="#" type="button" onclick="EduDetailGetEdit(@item.EduID)" value="Edit" class="icon-pencil"></a> &nbsp;&nbsp;&nbsp;
                        <a href="#" type="button" onclick="EduDetailGetDelete(@item.EduID)" value="Delete" class="icon-trash" style="color:red"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- Main content -->
<!-- Basic datatable -->
<script type="text/javascript" src="~/Scripts/Candidate/EduDetail.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        EduDetailGetCreate();
    });
</script>
