@model List<RMSCORE.Models.Main.VMOpenJobIndex>
@{
    ViewBag.title = "Job Portal";
    Layout = null;
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Careers&nbsp;at&nbsp;Bestway&nbsp;Cement&nbsp;Limited</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Theme/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/ui/drilldown.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Theme/assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/core/app.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/pages/datatables_basic.js"></script>
    @*<style>
            option{
                background-color:#025dac
            }
        </style>*@
    <!-- /theme JS files -->

</head>

<!-- Page container -->
<!-- Page header -->
<div class="page-header2 landing-cover">
    <div style="padding-left:20px; padding-bottom:0px; ">
        <a><img src="/Theme/assets/images/New2x-312x93.png" height="90" style="margin-top:-25px"></a>
        <a href="~/Home/Login"><small class="text-bold text-white pull-right btn btn-info" style="margin-right:30px">Apply Online</small></a>
    </div>
    <div class="page-header-content">
        <div class="page-title" style="margin-left:10px">
            <h1><span class="text-semibold text-white">Current Openings</span> </h1> <h5 class="text-semibold text-white">See if you can find exciting challenges at Bestway</h5>
        </div>
        @*<div class="heading-elements2" style="margin-left:20px">
                @using (Html.BeginForm("IndexSubmit", "Home", FormMethod.Post))
                {
                    <div class="form-group form-inline">
                        <input type="text" class="form-control2 form-control" name="FilterBox" id="FilterBox" placeholder="Enter Keyword/Title" value="@ViewBag.FilterBox" />
                        @Html.DropDownList("LocationID", null, new { @class = "form-control2 form-control" })
                        @Html.DropDownList("CatagoryID", null, new { @class = "form-control2 form-control" })
                        <button type="Submit" class="form-control btn bg-primary">Search</button>
                    </div>
                }
            </div>*@
    </div>
</div>
<!-- /page header -->
<!-- Page container -->
<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Basic datatable -->
            @using (Html.BeginForm("IndexSubmit", "Home", FormMethod.Post))
            {
                <div class="form-group form-inline pull-left" style="margin-top:10px; margin-left:10px">
                    <input type="text" class="form-control form-control" name="FilterBox" id="FilterBox" placeholder="Enter Keyword/Title" value="@ViewBag.FilterBox" />
                    @Html.DropDownList("LocationID", null, new { @class = "form-control form-control" })
                    @Html.DropDownList("CatagoryID", null, new { @class = "form-control form-control" })
                    <button type="Submit" class="form-control btn bg-primary">Search</button>
                </div>
            }

            @if (Model.Count > 0)
            {
                <div class="panel panel-flat">
                    <table class="table datatable-basic">
                        <thead>
                            <tr class="bg-primary">
                                <th class="text-semibold">Job-ID</th>
                                <th class="text-semibold">Position Title</th>
                                <th class="text-semibold">Department</th>
                                <th class="text-semibold">Category</th>
                                <th class="text-semibold">Location</th>
                                <th class="text-semibold">Opening Date</th>
                                <th class="text-semibold">Closing Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="text-semibold">@item.JobID</div>
                                    </td>
                                    <td>
                                        <div class="text-semibold"><a href="~/Job/JobDetailIndex?JobID=@item.JobID">@item.JobTitle</a></div>
                                        <div class="text-muted">Click on title for more information..</div>
                                    </td>
                                    <td>
                                        <div class="text-semibold">@item.DepatmentName</div>
                                    </td>
                                    <td>
                                        <div class="text-semibold">@item.CatName</div>
                                    </td>
                                    <td>
                                        <div class="text-semibold">@item.LocName</div>
                                    </td>
                                    <td>
                                        <div class="text-semibold">@item.CreatedDate.Value.ToString("MM/dd/yyyy")</div>
                                    </td>
                                    <td>
                                        <div class="text-semibold">
                                            @if (item.DeadlineDate != null)
                                            {
                                                @item.DeadlineDate.Value.ToString("MM/dd/yyyy")}
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="panel panel-flat border-left-danger">
                    <div class="panel-heading">
                        <h6 class="panel-title text-semibold">Currently no job openings are available  </h6>
                    </div>

                </div>
            }
            <!-- /basic datatable -->
            <small class="text-bold h6">
                Can't find a job that meets your background?  Create your profile for future consideration by registering yourself.&nbsp;<a href="~/Home/RegisterUser" class="">Register here</a>
            </small>
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</div>
<!-- /page container -->
