@model List<RMSCORE.Models.Main.VMOpenJobIndex>
@{
    ViewBag.title = "Job Portal Index";
    Layout = null;
}
@foreach (var item in Model)
{
    if (Model.Count() > 0)
    {
        <tr>
            <td>
                <div class="text-semibold">@item.JobID</div>
            </td>
            <td>
                <div class="text-semibold"><a href="~/Job/JobDetailIndex?JobID=@item.JobID">@item.JobTitle</a></div>
                <div class="text-muted">Click on title for more information..</div>
            </td>
            <td>
                <div class="text-semibold">@item.DepatmentName</div>
            </td>
            <td>
                <div class="text-semibold">@item.CatName</div>
            </td>
            <td>
                <div class="text-semibold">@item.LocName</div>
            </td>
            <td>
                <div class="text-semibold">@item.CreatedDate.Value.ToString("MM/dd/yyyy")</div>
            </td>s
            <td>
                <div class="text-semibold">
                    @if (item.DeadlineDate != null)
                    {
                        @item.DeadlineDate.Value.ToString("MM/dd/yyyy")}
                </div>
            </td>
        </tr>
    }
    else
    {
        <div class="panel panel-flat border-left-danger">
            <div class="panel-heading">
                <h6 class="panel-title text-semibold">Currently no job openings are available  </h6>
            </div>

        </div>
    }
}

<script type="text/javascript" src="~/Scripts/Candidate/JobPortal.js"></script>
<script>
    $(document).ready(function () {
        //GetFilteredListHome();
    });
</script>

