@model RMSCORE.EF.User
@{
    ViewBag.Title = "Register User";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Careers&nbsp; at &nbsp; Bestway&nbsp;Cement&nbsp;Ltd.</title>
    <!-- Global stylesheets -->
    @*<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">*@
    <link href="~/Theme/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Theme/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/ui/drilldown.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Theme/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/core/app.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/pages/login.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/ui/ripple.min.js"></script>
    <!-- /theme JS files -->
</head>
<body class="login-container login-cover">
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Advanced login -->
                <form action="~/Home/RegisterUser" enctype="multipart/form-data" method="post">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-12">
                        <div class="panel panel-body login-form">
                            <div class="text-center">
                                <img src="~/Theme/assets/images/bcl_logo_final.png" height="100" />
                                <h5 class="content-group text-bold text-blue">Register<small class="display-block">All fields are required</small></h5>
                            </div>
                            <div class="content-divider text-muted form-group"><span class="text-blue">Your credentials</span></div>
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-semibold text-blue">Applied As</label> &nbsp;
                                @Html.DropDownList("AppliedAs", new List<SelectListItem>
                                                      {
                                                       new SelectListItem { Text = "TRAINEE ENGINEERS", Value = "1"},new SelectListItem { Text = "APPRENTICE", Value = "2"},new SelectListItem { Text = "MTO", Value = "3"},
                                                       new SelectListItem { Text = "FULLTIME EMPLOYEE", Value = "4"},new SelectListItem { Text = "CONTRACTUAL EMPLOYEE", Value = "5"},
                                                      }, new { @class = "form-control" })
                            </div>
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold text-blue">Email</label>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Your email" } })
                                <div class="form-control-feedback">
                                    <i class="icon-mention text-muted"></i>
                                </div>
                            </div>
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold text-blue">Enter Password</label>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password", Type = "password", @id = "password" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                <div class="form-control-feedback">
                                    <i class="icon-lock4 text-muted"></i>
                                </div>
                            </div>
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold text-blue">Retype-Password</label>
                                @Html.EditorFor(model => model.RetypePassword, new { htmlAttributes = new { @class = "form-control", @placeholder = " Confirm-Password", Type = "password", @id = "confirm_password" } })
                                @Html.ValidationMessageFor(model => model.RetypePassword, "", new { @class = "text-danger" })
                                <div class="form-control-feedback">
                                    <i class="icon-lock4 text-muted"></i>
                                </div>
                                <span id="message"></span>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block btn-lg">Register <i class="icon-circle-right2 position-right"></i></button>
                        </div>
                    </div>
                </form>
                <!-- /advanced login -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->
    <!-- Footer -->
    <div class="footer text-muted text-center">
        &copy; 2018. <a href="#">Recruitment Management System</a> by <a href="http://cns.com.pk" target="_blank">Computer & Networking Services</a>
    </div>
    <!-- /footer -->
</body>
</html>
<script>
    $('#password, #confirm_password').on('keyup', function () {
        if ($('#password').val() == $('#confirm_password').val()) {
            $('#message').html('Matching').css('color', 'green');
        } else
            $('#message').html('Not Matching').css('color', 'red');
    });
</script>
