@model RMSCORE.Models.Other.UserModel
@{
    ViewBag.Title = "Register User";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Careers&nbsp;at&nbsp;Bestway&nbsp;Cement&nbsp;Limited</title>
    <!-- Global stylesheets -->
    @*<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">*@
    <link href="~/Theme/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/colors.css" rel="stylesheet" type="text/css">
    @*<script src='https://www.google.com/recaptcha/api.js'></script>*@
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Theme/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/ui/drilldown.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Theme/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/core/app.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/pages/login.js"></script>
    <script type="text/javascript" src="~/Theme/assets/js/plugins/ui/ripple.min.js"></script>
    <!-- /theme JS files -->
</head>
<body class="login-container login-cover">
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Advanced login -->
                <form action="~/Home/RegisterUser" enctype="multipart/form-data" method="post">
                    @Html.AntiForgeryToken()
                    @Html.Raw(TempData["Error"])
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-12">
                        <div class="panel panel-body login-form" style="width:500px">
                            <div class="text-center">
                                <img src="~/Theme/assets/images/bcl_logo_final.png" height="65" />
                                <h4 class="content-group text-bold text-white">Register here</h4>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <div>
                                        <label class="control-label text-semibold">Applying for</label>
                                        @Html.DropDownList("CatagoryID", null, new { @class = "form-control form-control" })
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div>
                                        <label class="control-label text-semibold">Email</label>
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control " })
                                        <div class="small">
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <div>
                                        <label class="required control-label text-semibold">Enter Password</label>
                                        <div class="input-group">
                                            <input type="password" name="Password" class="form-control pwd" id="password" placeholder="Password">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default reveal" type="button"><i class="glyphicon glyphicon-eye-open"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div>
                                        <label class="required control-label text-semibold">Retype-Password</label>
                                        <div class="input-group">
                                            <input type="password" name="RetypePassword" class="form-control pwd" id="confirm_password" placeholder="Confirm-Password">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default reveal" type="button"><i class="glyphicon glyphicon-eye-open"></i></button>
                                            </span>
                                        </div>
                                        <div class="small">
                                            <span id="message"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <div>
                                        <label class="control-label text-semibold">Enter sum</label>
                                        <a><img alt="Captcha" src="@Url.Action("CaptchaImage")" /></a>
                                        <a href="@Url.Action("CaptchaValidate")" class="glyphicon glyphicon-refresh text-white" style="margin-top:6px"></a>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div>
                                        @Html.EditorFor(model => model.Captcha, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sum" } })
                                        <div class="small">
                                            @Html.ValidationMessageFor(model => model.Captcha, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="text-align:center">
                                <div class="form-group col-md-6">
                                    <a href="~/Home/Login" class="btn btn-block text-semibold bg-blue-800"> <i class="icon-circle-left2 position-left"></i>Back to Login</a>
                                </div>
                                <div class="form-group col-md-6">
                                    <button type="submit" class="btn btn-block text-semibold bg-blue-800">Register <i class="icon-circle-right2 position-right"></i></button>
                                </div>
                              
                              
                            </div>
                        </div>
                    </div>

                </form>
                <!-- /advanced login -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->
    <!-- Footer -->
    <div class="footer text-center">
        <span class="text-white text-bold"><strong>&copy; 2018. </strong></span><a href="#" class="text-white text-black">Recruitment Management System</a><span class="text-white text-bold"><strong> by </strong></span><a href="http://www.bestway.com.pk/" target="_blank" class="text-white text-black">Bestway Cement Limited</a>
    </div>
    <!-- /footer -->
</body>
</html>
<script>
    $(".reveal").on('click', function () {
        var $pwd = $(".pwd");
        if ($pwd.attr('type') === 'password') {
            $pwd.attr('type', 'text');
        } else {
            $pwd.attr('type', 'password');
        }
    });
    $('#password, #confirm_password').on('keyup', function () {
        if ($('#password').val() == $('#confirm_password').val()) {
            $('#message').html('Matching').css('color', 'green');
        } else
            $('#message').html('Not Matching').css('color', 'red');
    });
</script>
