@model RMSCORE.EF.MiscellaneousDetail

@{RMSCORE.EF.V_UserCandidate LoggedInUser = (RMSCORE.EF.V_UserCandidate)HttpContext.Current.Session["LoggedInUser"];
    using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formEditID", id = "formEditID" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CandidateID)
        @Html.HiddenFor(model => model.PMiscellaneousID)
        <head>
            @*
                <script type="text/javascript" src="assets/js/pages/form_checkboxes_radios.js"></script>*@
            <style>
                .required:after {
                    content: "*";
                    font-weight: bold;
                    color: red;
                }
            </style>
        </head>
        <div style="margin-top:-25px">
            <!-- Page container -->
            <!-- Basic datatable -->
            <div class="modal-header">
                <div class="modal-title">
                    <h3 class="text-black"><i class="icon-nbsp"></i>&nbsp;&nbsp;Miscellaneous&nbsp;<small class="text-black">(All fields with an asterisk (*) are mandatory)</small></h3>
                </div>
            </div>
            <div class="panel panel-flat">
                <div class="breadcrumb-line bg-primary" style="height:41px">
                    <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
                    <ul class="breadcrumb">
                        @*
                            <li><a href="~/Job/Index"> Dashboard</a></li>
                            <li><a class="active"> Miscellaneous</a></li>
                            <li class="active"> - Add New</li>*@
                    </ul>
                </div>
                <div class="form-horizontal">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="required col-md-4 control-label text-semibold">Have you ever been convicted of any crime?</label>
                            <div class="col-md-1">
                                @Html.DropDownList("CrimanalRecord", new List<SelectListItem>
                                                                                                                                                                                                                                                                            { new SelectListItem { Text = "No", Value = "No" }, new SelectListItem { Text = "Yes", Value = "Yes" } }, new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth" })
                                @Html.ValidationMessageFor(model => model.CrimanalRecord, "", new { @class = "text-danger" })
                            </div>
                            <div id="CriminalDetailtb">
                                <div class="required col-md-1 control-label text-semibold text-right">Details </div>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.CrimeDetail, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CrimeDetail, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="required col-md-4 control-label text-semibold">Do you have any relatives working presently with Bestway Group?</label>
                            <div class="col-md-1">
                                @Html.DropDownList("WorkingRelative", new List<SelectListItem>{ new SelectListItem { Text = "No", Value = "No" }, new SelectListItem { Text = "Yes", Value = "Yes" } }, new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth" })
                                @Html.ValidationMessageFor(model => model.WorkingRelative, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div id="WorkingRelativeDetailtb">
                            <div class="form-group">
                                <div class=" col-md-1 control-label text-semibold">Name </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.WorkingRelativeName, new { htmlAttributes = new { @class = "form-control", @placeholder = "State Name " } })
                                    @Html.ValidationMessageFor(model => model.WorkingRelativeName, "", new { @class = "text-danger" })
                                </div>
                                <div class=" col-md-1 control-label text-semibold"> Relationship </div>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.WorkingRelativeRelation, new { htmlAttributes = new { @class = "form-control", @placeholder = "Relation with employee" } })
                                    @Html.ValidationMessageFor(model => model.WorkingRelativeRelation, "", new { @class = "text-danger" })
                                </div>
                                <div class=" col-md-1 control-label text-semibold">Department </div>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.WorkingRelativeDepartment, new { htmlAttributes = new { @class = "form-control", @placeholder = "State department" } })
                                    @Html.ValidationMessageFor(model => model.WorkingRelativeDepartment, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <div class="form-group">
                                <div class=" col-md-1 control-label text-semibold">Location </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.WorkingRelativeLocation, new { htmlAttributes = new { @class = "form-control", @placeholder = "State location" } })
                                    @Html.ValidationMessageFor(model => model.WorkingRelativeLocation, "", new { @class = "text-danger" })
                                </div>
                                <div class=" col-md-1 control-label text-semibold">Designation </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.WorkingRelativeDesignation, new { htmlAttributes = new { @class = "form-control", @placeholder = "State Designation" } })
                                    @Html.ValidationMessageFor(model => model.WorkingRelativeDesignation, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="required col-md-4 control-label text-semibold">Do you have any disability?</label>
                            <div class="col-md-1">
                                @Html.DropDownList("Disability", new List<SelectListItem>
                                                                                                                                                                                                                                                                            { new SelectListItem { Text = "No", Value = "No" }, new SelectListItem { Text = "Yes", Value = "Yes" } }, new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth" })
                                @Html.ValidationMessageFor(model => model.Disability, "", new { @class = "text-danger" })
                            </div>
                            <div id="DisabilityDetailtb">
                                <div class="required col-md-1 control-label text-semibold text-right">Details </div>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.DisabilityDetail, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DisabilityDetail, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        @if (LoggedInUser.AppliedAs != 1)
                        {
                            <div class="form-group">
                                <label class="required col-md-5 control-label text-semibold">Have you been interviewed at Bestway Group before?</label>
                                <div class="col-md-1 col-lg-pull-1">
                                    @Html.DropDownList("InterviewedBefore", new List<SelectListItem>
                                                                                                                                                                                                                                                                                { new SelectListItem { Text = "No", Value = "No" }, new SelectListItem { Text = "Yes", Value = "Yes" } }, new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth" })
                                    @Html.ValidationMessageFor(model => model.InterviewedBefore, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div id="InterviewedBeforeDetailtb">
                                <div class="form-group">
                                    <div class="required col-md-2 control-label text-semibold">Post Applied for</div>
                                    <div class="col-md-2">
                                        @Html.EditorFor(model => model.AppliedPosition, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AppliedPosition, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="required col-md-2 control-label text-semibold">Interview Date</div>
                                    <div class="col-md-2">
                                        <input class="form-control" id="InterviewedDate" name="InterviewedDate" value="@(Model.InterviewedDate==null?DateTime.Today.ToString("dd/MM/yyyy"):Model.InterviewedDate.Value.ToString("dd/MM/yyyy"))" placeholder="DD/MM/YYYY" type="text" />
                                        @* @Html.TextBoxFor(x => x.InterviewedDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })*@
                                        @Html.ValidationMessageFor(model => model.InterviewedDate, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="required col-md-1 control-label text-semibold text-right">Location</div>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.InterviewedLocation, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.InterviewedLocation, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="required col-md-4 control-label text-semibold">Have you worked before with Bestway Group</label>
                                <div class="col-md-1">
                                    @Html.DropDownList("WorkedBefore", new List<SelectListItem> { new SelectListItem { Text = "No", Value = "No" }, new SelectListItem { Text = "Yes", Value = "Yes" } }, new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth" })
                                    @Html.ValidationMessageFor(model => model.WorkedBefore, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div id="WorkedBeforeDetailtb">
                                <div class="form-group">
                                    <div class="required col-md-2 control-label text-semibold">Date of Joining</div>
                                    <div class="col-md-3">
                                        <input class="form-control" id="DateJoining" name="DateJoining" value="@(Model.DateJoining==null?DateTime.Today.ToString("dd/MM/yyyy"):Model.DateJoining.Value.ToString("dd/MM/yyyy"))" placeholder="DD/MM/YYYY" type="text" />
                                        @*@Html.TextBoxFor(x => x.DateJoining, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })*@
                                        @Html.ValidationMessageFor(model => model.DateJoining, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="required col-md-1 control-label text-semibold">Date of Leaving</div>
                                    <div class="col-md-2">
                                        <input class="form-control" id="DateLeavig" name="DateLeavig" value="@(Model.DateLeavig==null?DateTime.Today.ToString("dd/MM/yyyy"):Model.DateLeavig.Value.ToString("dd/MM/yyyy"))" placeholder="DD/MM/YYYY" type="text" />
                                      @*  @Html.TextBoxFor(x => x.DateLeavig, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })*@
                                        @Html.ValidationMessageFor(model => model.DateLeavig, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="required col-md-1 control-label text-semibold text-right">Designation</div>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="required col-md-2 control-label text-semibold">Employment No.</div>
                                    <div class="col-md-1">
                                        @Html.EditorFor(model => model.EmploymentNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.EmploymentNo, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="required col-md-1 control-label text-semibold text-right">Location</div>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="required col-md-2 control-label text-semibold text-right">Reason of leaving</div>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.ReasonLeaving, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ReasonLeaving, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        }
                        @if (LoggedInUser.AppliedAs == 1)
                        {
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="required  checkbox-inline checkbox-right text-semibold col-md-12" for="InternshipRequirement">
                                        @Html.CheckBox("InternshipRequirement", new { @class = "styled", @id = "InternshipRequirement" })
                                        @Html.ValidationMessageFor(model => model.InternshipRequirement, "", new { @class = "text-danger" })
                                        This internship is my university requirement
                                    </label>
                                </div>
                                <label class="required col-md-3 control-label text-semibold">Internship Duration</label>
                                <div class="col-md-1 col-lg-pull-1">
                                    @Html.DropDownList("InternshipDuration", new List<SelectListItem> { new SelectListItem { Text = "---------", Value = "0" }, new SelectListItem { Text = "1 Month", Value = "1 Month" }, new SelectListItem { Text = "2 Month", Value = "2 Month" }, new SelectListItem { Text = "3 Month", Value = "3 Month" }, new SelectListItem { Text = "4 Month", Value = "4 Month" } }, new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth" })
                                    @Html.ValidationMessageFor(model => model.InternshipDuration, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <div class="required col-md-4 control-label text-semibold">From where did you hear about the opportunity?</div>
                            <div class="col-md-3">
                                @Html.DropDownList("HearAboutJobID", null, new { @class = "form-control" })
                            </div>
                            <div id="HearAboutDetailtb">
                                <div class="required col-md-1 control-label text-semibold text-right">Details </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.HearAboutDetail, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.HearAboutDetail, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="required col-md-4 control-label text-semibold">How much notice you need to give to your current employer?</div>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.NoticeTime, new { htmlAttributes = new { @class = "form-control", @placeholder = "Days", @min = "0" } })
                                @Html.ValidationMessageFor(model => model.NoticeTime, "", new { @class = "text-danger" })
                            </div>
                            @*<div class="required required col-md-2 control-label text-semibold text-right">Total Experience</div>
                                <div class="col-md-1">
                                    @Html.EditorFor(model => model.TotalExp, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
                                    <small class="text-grey-300">Years</small>
                                    @Html.ValidationMessageFor(model => model.TotalExp, "", new { @class = "text-danger" })
                                </div>
                                <div class="required required col-md-2 control-label text-semibold text-right">Cement Experience</div>
                                <div class="col-md-1">
                                    @Html.EditorFor(model => model.CementExp, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
                                    <small class="text-grey-300">Years</small>
                                    @Html.ValidationMessageFor(model => model.CementExp, "", new { @class = "text-danger" })
                                </div>*@
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label text-semibold">Blood Group</div>
                            <div class="col-md-2">
                                @Html.DropDownList("BloodGroupID", null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BloodGroupID, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2 control-label text-semibold">Marital Status</div>
                            <div class="col-md-2">
                                @Html.DropDownList("MaritalStatusID", null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MaritalStatusID, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2 control-label text-semibold">Religion</div>
                            <div class="col-md-2">
                                @Html.DropDownList("ReligionID", null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ReligionID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @if (LoggedInUser.AppliedAs == 5 || LoggedInUser.AppliedAs == 6)
                        {
                            <div class="form-group">
                                <div class="required col-md-2 control-label text-semibold">Monthly Gross Salary</div>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.MGSalary, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rs." } })
                                    @Html.ValidationMessageFor(model => model.MGSalary, "", new { @class = "text-danger" })
                                </div>
                                <div class="required required col-md-2 control-label text-semibold">Expected Salary</div>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.ExpectedSalary, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rs." } })
                                    @Html.ValidationMessageFor(model => model.ExpectedSalary, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }

                        <div class="form-group">
                            <div id="resumehide">
                                <label class="required col-md-3 control-label text-semibold">Upload your resume online:</label>
                                <div class="col-md-3 col-lg-pull-1">
                                    <input type="file" placeholder="resume" value="resume" name="resume" title="Noi" class="file-styled" id="CVUpload" />
                                    <span class="help-block">Accepted formats: pdf, Max file size 1Mb</span>
                                    <p id="error1" style="display:none; color:#FF0000;">
                                        Invalid Image Format! Image Format Must Be JPG, JPEG, PNG or GIF.
                                    </p>
                                    <p id="error2" style="display:none; color:#FF0000;">
                                        Maximum File Size Limit is 1MB.
                                    </p>
                                </div>
                            </div>
                            @if (LoggedInUser.HasCV == true)
                            {
                                <div class="col-md-4">
                                    <label class="required checkbox-inline checkbox-right text-semibold col-md-8" for="UploadCV">
                                        @Html.CheckBox("UploadCV", new { @class = "UploadCV", @id = "UploadCV" })
                                        @Html.ValidationMessageFor(model => model.UploadCV, "", new { @class = "text-danger" })
                                        Update resume:
                                    </label>
                                </div>
                            }

                            @if (LoggedInUser.HasCV == true)
                            {
                                <div class="col-md-2 col-md-pull-1">
                                    @Html.ActionLink(LoggedInUser.CName + " cv", "OpenCV", "Miscellaneous", new { fileName = LoggedInUser.CName }, new { @class = "btn bg-primary btn-large", @target = "_blank" })
                                </div>
                            }
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a class="heading-elements-toggle"><i class="icon-more"></i></a>
                        <div class="heading-elements btn-toolbar pull-right">
                            <button type="button" onclick="ReferenceGetCreate()" class="btn bg-grey icon-arrow-left15">Previous</button>
                            <button type="button" id="btnPostCreate" class="btn bg-primary" @*style="font-family:'Times New Roman'"*@>Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
        </div>
    }
}
<script>
    $(document).ready(function () {
        var date_input = $('input[name="InterviewedDate"]'); //our date input has the name "date"
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'dd/mm/yyyy',
            orientation: 'bottom',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>
<script>
    $(document).ready(function () {
        var date_input = $('input[name="DateJoining"]'); //our date input has the name "date"
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'dd/mm/yyyy',
            orientation: 'bottom',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>
<script>
    $(document).ready(function () {
        var date_input = $('input[name="DateLeavig"]'); //our date input has the name "date"
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'dd/mm/yyyy',
            orientation: 'bottom',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>
<script type="text/javascript">
    $(document).ready(function () {
        //Worked Before Selected
        SaveMiscellaneousInfoFunction(@LoggedInUser.CandidateID);
        MiscellaneousDetailHide(@LoggedInUser.AppliedAs);
        HasCV('@LoggedInUser.HasCV');
});
</script>
