@model RMSCORE.EF.MiscellaneousDetail

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formEditID", id = "formEditID" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CandidateID)
    @Html.HiddenFor(model => model.PMiscellaneousID)
    <head>
        <script type="text/javascript" src="assets/js/pages/form_checkboxes_radios.js"></script>
        <style>
            .required:after {
                content: "*";
                font-weight: bold;
                color: red;
            }
        </style>
    </head>
    <div style="margin-top:-25px">
        <!-- Page container -->
        <!-- Basic datatable -->
        <div class="modal-header">
            <div class="modal-title">
                <h3 class="text-black"><i class="icon-nbsp"></i>&nbsp;&nbsp;Miscellaneous Details &nbsp;<small class="text-grey-400">(All fields with an asterisk (*) are mandatory)</small></h3>
            </div>
        </div>
        <div class="panel panel-flat">
            <div class="breadcrumb-line bg-green-600">
                <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
                <ul class="breadcrumb">
                    <li><a href="~/Job/Index"> Dashboard</a></li>
                    <li><a class="active"> Miscellaneous</a></li>
                    <li class="active"> - Add New</li>
                </ul>
            </div>
            <div class="form-horizontal">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-md-4 control-label text-semibold">Have you ever been convicted of crime?</label>
                        <div class="col-md-1">
                            @Html.DropDownList("CrimanalRecord", new List<SelectListItem>
                                            {

                                                new SelectListItem { Text = "No", Value = "No"},
                                                  new SelectListItem { Text = "Yes", Value = "Yes"}
                                            }, new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth" })

                            @Html.ValidationMessageFor(model => model.CrimanalRecord, "", new { @class = "text-danger" })
                        </div>
                        <div id="CriminalDetailtb">
                            <div class="col-md-1 control-label text-semibold text-right">Details </div>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.CrimeDetail, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label text-semibold">Do you have any relative working in Bestway group?</label>
                        <div class="col-md-1">
                            @Html.DropDownList("WorkingRelative", new List<SelectListItem>
                                            {

                                                new SelectListItem { Text = "No", Value = "No"},
                                                new SelectListItem { Text = "Yes", Value = "Yes"}
                                            }, new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth" })

                            @Html.ValidationMessageFor(model => model.WorkingRelative, "", new { @class = "text-danger" })
                        </div>
                        <div id="WorkingRelativeDetailtb">
                            <div class="col-md-1 control-label text-semibold text-right">Details </div>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.WorkingRelativeDetail, new { htmlAttributes = new { @class = "form-control", @placeholder = "State Name - Designation & Location" } })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label text-semibold">Do you have any disability?</label>
                        <div class="col-md-1">
                            @Html.DropDownList("Disability", new List<SelectListItem>
                                            {

                                                new SelectListItem { Text = "No", Value = "No"},
                                                new SelectListItem { Text = "Yes", Value = "Yes"}
                                            }, new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth" })

                            @Html.ValidationMessageFor(model => model.Disability, "", new { @class = "text-danger" })
                        </div>
                        <div id="DisabilityDetailtb">
                            <div class="col-md-1 control-label text-semibold text-right">Details </div>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.DisabilityDetail, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label text-semibold">Have you been interviewed at Bestway Group before?</label>
                        <div class="col-md-1">
                            @Html.DropDownList("InterviewedBefore", new List<SelectListItem>
                            {

                                new SelectListItem { Text = "No", Value = "No"},
                                new SelectListItem { Text = "Yes", Value = "Yes"}
                            }, new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth" })

                            @Html.ValidationMessageFor(model => model.InterviewedBefore, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div id="InterviewedBeforeDetailtb">
                        <div class="form-group">
                            <div class="col-md-2 control-label text-semibold">Postion Applied for</div>
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.AppliedPosition, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AppliedPosition, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1 control-label text-semibold text-right">Date</div>
                            <div class="col-md-2">
                                @Html.TextBoxFor(x => x.InterviewedDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                                @Html.ValidationMessageFor(model => model.InterviewedBefore, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1 control-label text-semibold text-right">Location</div>
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.InterviewedLocation, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.InterviewedLocation, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label text-semibold">Have you Worked before with Bestway Group?</label>
                        <div class="col-md-1">
                            @Html.DropDownList("WorkedBefore", new List<SelectListItem>
                            {

                                new SelectListItem { Text = "No", Value = "No"},
                                new SelectListItem { Text = "Yes", Value = "Yes"}
                            }, new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth" })

                            @Html.ValidationMessageFor(model => model.WorkedBefore, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div id="WorkedBeforeDetailtb">
                        <div class="form-group">
                            <div class="col-md-2 control-label text-semibold">Date of Joining</div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => x.DateJoining, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @Value = @DateTime.Today.ToString("yyyy-MM-dd") })
                            </div>
                            <div class="col-md-1 control-label text-semibold">Date&nbsp;Leaving</div>
                            <div class="col-md-2">
                                @Html.TextBoxFor(x => x.DateLeavig, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                            </div>
                            <div class="col-md-1 control-label text-semibold text-right">Designation</div>
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label text-semibold">Leaving Reason</div>
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.ReasonLeaving, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-2 control-label text-semibold">Employement No</div>
                            <div class="col-md-1">
                                @Html.EditorFor(model => model.EmploymentNo, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-1 control-label text-semibold text-right">Location</div>
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 control-label text-semibold">Where do you hear about the job?</div>
                        <div class="col-md-2">
                            @Html.DropDownList("HearAboutJobID", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.HearAboutJobID, "", new { @class = "text-danger" })
                        </div>
                        <div id="HearAboutDetailtb">
                            <div class="col-md-1 control-label text-semibold text-right">Details </div>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.HearAboutDetail, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 control-label text-semibold">How much notice you need to give to your current Employer?</div>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.NoticeTime, new { htmlAttributes = new { @class = "form-control", @placeholder = "Days" } })
                        </div>
                        <div class="required col-md-2 control-label text-semibold text-right">Total Experience</div>
                        <div class="col-md-1">
                            @Html.EditorFor(model => model.TotalExp, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TotalExp, "", new { @class = "text-danger" })
                        </div>
                        <div class="required col-md-2 control-label text-semibold text-right">Cement Experience</div>
                        <div class="col-md-1">
                            @Html.EditorFor(model => model.CementExp, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CementExp, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a class="heading-elements-toggle"><i class="icon-more"></i></a>
                    <div class="heading-elements">
                        <button type="button" id="btnPostCreate" class="btn btn-success heading-btn pull-right">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        SaveMiscellaneousInfoFunction();
        MiscellaneousDetailHide();
    });
</script>
