@model RMSCORE.EF.CompensationDetail

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formEditID", id = "formEditID" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CandidateID)
    @Html.HiddenFor(model => model.CID)
<div style="margin-top:-45px">
    <div class="modal-header">
        <div class="modal-title">
            <h3 class="text-black"><i class="icon-user-plus"></i>&nbsp;&nbsp;Compensation Details</h3>
        </div>
    </div>
    <!-- Page container -->
    <!-- Main content -->
    <!-- Basic datatable -->
    <div class="panel panel-flat">
        <div class="breadcrumb-line bg-green-600">
            <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
            <ul class="breadcrumb">
                <li><a href="~/Job/Index">Dashboard</a></li>
                <li><a class="active">Compensation</a></li>
                <li class="active">- Add New</li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="control-label col-md-2 text-semibold">Monthly Basic Salary </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.MBSalary, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <label class="col-md-2 control-label text-semibold">Monthly Gross Salary</label>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.MGSalary, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MGSalary, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-12"><hr /></div>
            </div>

            <div class="form-group col-md-12">
                <div class="col-md-3">
                    <label class=" checkbox-inline checkbox-right text-semibold col-md-5" for="Bonus">
                        @Html.CheckBox("Bonus", new { @class = "styled", @id = "Bonus" })
                        @Html.ValidationMessageFor(model => model.Bonus, "", new { @class = "text-danger" })
                        Bonus
                    </label>
                </div>
                <div id="Bonusdiv">
                    <div class="col-md-2">
                        <label class="checkbox-inline checkbox-right text-semibold col-md-5" for="BBonus">
                            @Html.CheckBox("BBonus", new { @class = "styled" })
                            @Html.ValidationMessageFor(model => model.BBonus, "", new { @class = "text-danger" })
                            Basic
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline checkbox-right text-semibold col-md-5" for="GBonus">
                            @Html.CheckBox("GBonus", new { @class = "styled" })
                            @Html.ValidationMessageFor(model => model.GBonus, "", new { @class = "text-danger" })
                            Gross
                        </label>
                    </div>
                    <label class="control-label col-md-2 text-semibold">No of Bonuses per year</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.BonusPerYear, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-3">
                    <label class="checkbox-inline checkbox-right text-semibold col-md-5" for="LFA">
                        @Html.CheckBox("LFA", new { @class = "styled", @id = "LFA" })
                        @Html.ValidationMessageFor(model => model.LFA, "", new { @class = "text-danger" })
                        LFA
                    </label>
                </div>
                <div id="LFAdiv">
                    <div class="col-md-2">
                        <label class="checkbox-inline checkbox-right text-semibold col-md-5" for="BLFA">
                            @Html.CheckBox("BLFA", new { @class = "styled" })
                            @Html.ValidationMessageFor(model => model.BLFA, "", new { @class = "text-danger" })
                            Basic
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline checkbox-right text-semibold col-md-5" for="GLFA">
                            @Html.CheckBox("GLFA", new { @class = "styled" })
                            @Html.ValidationMessageFor(model => model.GLFA, "", new { @class = "text-danger" })
                            Gross
                        </label>
                    </div>
                    <label class="control-label col-md-2 text-semibold">No of LFA's per year</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.LFAPerYear, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-3">
                    <label class="checkbox-inline checkbox-right text-semibold col-md-5" for="OT">
                        @Html.CheckBox("OT", new { @class = "styled", @id = "OT" })
                        @Html.ValidationMessageFor(model => model.OT, "", new { @class = "text-danger" })
                        Overtime
                    </label>
                </div>
                <div id="OTdiv">
                    <div class="col-md-2">
                        <label class="checkbox-inline checkbox-right text-semibold col-md-5" for="BOT">
                            @Html.CheckBox("BOT", new { @class = "styled" })
                            @Html.ValidationMessageFor(model => model.BOT, "", new { @class = "text-danger" })
                            Basic
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline checkbox-right text-semibold col-md-5" for="GOT">
                            @Html.CheckBox("GOT", new { @class = "styled" })
                            @Html.ValidationMessageFor(model => model.GOT, "", new { @class = "text-danger" })
                            Gross
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group">
                <div class="control-label text-black h5" style="font-weight:900">Allowance</div>
                <hr />
            </div>

            <div class="form-group col-md-12">
                <div class="col-md-2 control-label text-semibold">Transport Allowance</div>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.TransportAllowence, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-4">
                    <label class="checkbox-inline checkbox-right text-semibold col-md-7" for="BuyBackOption">
                        @Html.CheckBox("BuyBackOption", new { @class = "styled" })
                        @Html.ValidationMessageFor(model => model.BuyBackOption, "", new { @class = "text-danger" })
                        Buy Back Option
                    </label>
                </div>
                <div class="col-md-2 control-label text-semibold">Mobile Allowance</div>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.MobileAllowence, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-2 control-label text-semibold">Car Entitlement</div>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.CarEntitlement, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-2 control-label text-semibold">Mobile User Limit</div>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.MobileUserLimit, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-2 control-label text-semibold">Accomodation Allowance</div>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.AccomdAllowence, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group col-md-12">
                <div class="col-md-2 control-label text-semibold">COLA</div>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.COLA, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-2 control-label text-semibold">Others</div>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.Other, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-1">
                    <label class="control-label checkbox-inline checkbox-right text-semibold" for="Food">
                        @Html.CheckBox("Food", new { @class = "styled" })
                        @Html.ValidationMessageFor(model => model.Food, "", new { @class = "text-danger" })
                        Food
                    </label>
                </div>
                <div class="col-md-1">
                    <label class="control-label checkbox-inline checkbox-right text-semibold" for="Free">
                        @Html.CheckBox("Free", new { @class = "styled" })
                        @Html.ValidationMessageFor(model => model.Free, "", new { @class = "text-danger" })
                        Free
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="control-label checkbox-inline checkbox-right text-semibold" for="Subsidized">
                        @Html.CheckBox("Subsidized", new { @class = "styled" })
                        @Html.ValidationMessageFor(model => model.Subsidized, "", new { @class = "text-danger" })
                        Subsidized
                    </label>
                </div>
            </div>
            <div class="col-md-12 form-group">
                <div class="control-label text-black h5" style="font-weight:900">Insurance and Coverage</div>
                <hr />
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-1 control-label text-semibold">OPD</div>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.OPDInsurance, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <label class="col-md-1 control-label text-semibold">IP</label>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.IPInsurance, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-1 control-label text-semibold">Life</div>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.LifeInsurance, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-4">
                    <label class="checkbox-inline checkbox-right text-semibold col-md-5" for="ProvidentFund">
                        @Html.CheckBox("ProvidentFund", new { @class = "styled", @id = "ProvidentFund" })
                        @Html.ValidationMessageFor(model => model.ProvidentFund, "", new { @class = "text-danger" })
                        Provident Fund
                    </label>
                </div>
                <div id="Providentdiv">
                    <div class="col-md-2">
                        <label class="checkbox-inline checkbox-right text-semibold col-md-5" for="BProvidentFund">
                            @Html.CheckBox("BProvidentFund", new { @class = "styled" })
                            @Html.ValidationMessageFor(model => model.BProvidentFund, "", new { @class = "text-danger" })
                            Basic
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline checkbox-right text-semibold col-md-5" for="GProvidentFund">
                            @Html.CheckBox("GProvidentFund", new { @class = "styled" })
                            @Html.ValidationMessageFor(model => model.GProvidentFund, "", new { @class = "text-danger" })
                            Gross
                        </label>
                    </div>
                    <div class="control-label col-md-2 text-semibold">If Yes then %</div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.ProvidentFundPerYear, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-4">
                    <label class="checkbox-inline checkbox-right text-semibold col-md-5" for="Gratuity">
                        @Html.CheckBox("Gratuity", new { @class = "styled", @id = "Gratuity" })
                        @Html.ValidationMessageFor(model => model.Gratuity, "", new { @class = "text-danger" })
                        Gratuity
                    </label>
                </div>
                <div id="Gratuitydiv">
                    <div class="col-md-2">
                        <label class="checkbox-inline checkbox-right text-semibold col-md-5" for="BGratuity">
                            @Html.CheckBox("BGratuity", new { @class = "styled" })
                            @Html.ValidationMessageFor(model => model.BGratuity, "", new { @class = "text-danger" })
                            Basic
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline checkbox-right text-semibold col-md-5" for="GGratuity">
                            @Html.CheckBox("GGratuity", new { @class = "styled" })
                            @Html.ValidationMessageFor(model => model.GGratuity, "", new { @class = "text-danger" })
                            Gross
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group">
                <div class="control-label text-black h5" style="font-weight:900">Leaves</div>
                <hr />
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-2 control-label text-semibold">Annual</div>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.AnnualTAllowence, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <label class="col-md-2 control-label text-semibold">Casual</label>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.CasualTAllowence, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-2 control-label text-semibold">Medical</div>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.MedTAllowence, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-2 control-label text-semibold">Transport Allowance Working Days/Week</div>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.TAllowenceWorkDay, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <label class="col-md-2 control-label text-semibold">Expected Salary</label>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.ExpectedSalary, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-2 control-label text-semibold">Any other Benifit</div>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.OtherBenifits, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <a class="heading-elements-toggle"><i class="icon-more"></i></a>
            <div class="heading-elements">
                <button type="button" id="btnPostCreate" class="btn btn-success heading-btn pull-right">Save</button>
            </div>
        </div>
    </div>
</div>
}

<script type="text/javascript">
    $(document).ready(function () {
        SaveCompensationFunction();
        CompensationDetailHide();
    });
</script>

