@model RMSCORE.EF.CompensationDetail

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formEditID", id = "formEditID" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CandidateID)
    @Html.HiddenFor(model => model.CID)
    <head>
        <style>
            .required:after {
                content: "*";
                font-weight: bold;
                color: red;
            }
        </style>
    </head>
    <div style="margin-top:-25px">
        <div class="modal-header">
            <div class="modal-title">
                <h3 class="text-black"><i class="icon-user-plus"></i>&nbsp;&nbsp;Compensation&nbsp;<small class="text-grey-400">(Mention your most-recent compensation)</small><small class="label label-info arrowed-right pull-right" style="margin-top:10px">If some field is not applicable simply write NIL and for numerical value write zero</small></h3>
            </div>
        </div>
        <!-- Page container -->
        <!-- Main content -->
        <!-- Basic datatable -->
        <div class="panel panel-flat">
            <div class="breadcrumb-line bg-green-600" style="height:41px">
                <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
                <ul class="breadcrumb">
                    @*<li><a href="~/Job/Index">Dashboard</a></li>
                        <li><a class="active">Compensation</a></li>
                        <li class="active">- Add New</li>*@
                </ul>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="required control-label col-md-2 text-semibold">Monthly Basic Salary </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.MBSalary, new { htmlAttributes = new { @class = "form-control", placeholder = "e.g 10000$/10000Rs." } })
                        @Html.ValidationMessageFor(model => model.MBSalary, "", new { @class = "text-danger" })
                    </div>
                    <label class="required col-md-2 control-label text-semibold">Monthly Gross Salary</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.MGSalary, new { htmlAttributes = new { @class = "form-control", placeholder = "e.g 10000$/10000Rs." } })
                        @Html.ValidationMessageFor(model => model.MGSalary, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12"><hr /></div>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-3">
                        <label class="required  checkbox-inline checkbox-right text-semibold col-md-12" for="Bonus">
                            @Html.CheckBox("Bonus", new { @class = "styled", @id = "Bonus" })
                            @Html.ValidationMessageFor(model => model.Bonus, "", new { @class = "text-danger" })
                            Bonus
                        </label>
                    </div>
                    <div id="Bonusdiv">
                        <div class="col-md-2">
                            <div class="radio-inline text-semibold">
                                @Html.RadioButton("BonusSelection", "BBonus", new { @checked = "checked", @id = "BBonus" })
                                @Html.ValidationMessageFor(model => model.BBonus, "", new { @class = "text-danger" })
                                On basic
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="radio-inline text-semibold" for="GBonus">
                                @Html.RadioButton("BonusSelection", "GBonus", new { @class = "checked", @id = "GBonus" })
                                @Html.ValidationMessageFor(model => model.GBonus, "", new { @class = "text-danger" })
                                On gross
                            </label>
                        </div>
                        <label class="required control-label col-md-2 text-semibold">No. of Bonuses per year</label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.BonusPerYear, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
                            @Html.ValidationMessageFor(model => model.BonusPerYear, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-3">
                        <label class="required checkbox-inline checkbox-right text-semibold col-md-12" for="LFA">
                            @Html.CheckBox("LFA", new { @class = "styled", @id = "LFA" })
                            @Html.ValidationMessageFor(model => model.LFA, "", new { @class = "text-danger" })
                            LFA(Leave Fare Assistance)
                        </label>
                    </div>
                    <div id="LFAdiv">
                        <div class="col-md-2">
                            <div class="radio-inline text-semibold">
                                @Html.RadioButton("LFASelection", "BLFA", new { @checked = "checked", id = "BLFA" })
                                @Html.ValidationMessageFor(model => model.BLFA, "", new { @class = "text-danger" })
                                On basic
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="radio-inline text-semibold" for="GLFA">
                                @Html.RadioButton("LFASelection", "GLFA", new { @class = "checked", id = "GLFA" })
                                @Html.ValidationMessageFor(model => model.GLFA, "", new { @class = "text-danger" })
                                On gross
                            </label>
                        </div>
                        <label class="required control-label col-md-2 text-semibold">No. of LFA's per year</label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.LFAPerYear, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
                            @Html.ValidationMessageFor(model => model.LFAPerYear, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-3">
                        <label class="required checkbox-inline checkbox-right text-semibold col-md-12" for="OT">
                            @Html.CheckBox("OT", new { @class = "styled", @id = "OT" })
                            @Html.ValidationMessageFor(model => model.OT, "", new { @class = "text-danger" })
                            Overtime
                        </label>
                    </div>
                    <div id="OTdiv">
                        <div class="col-md-2">
                            <div class="radio-inline text-semibold">
                                @Html.RadioButton("OTselection", "BOT", new { @checked = "checked", id = "BOT" })
                                @Html.ValidationMessageFor(model => model.BOT, "", new { @class = "text-danger" })
                                On basic
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="radio-inline text-semibold" for="GOT">
                                @Html.RadioButton("OTselection", "GOT", new { @class = "checked", id = "GOT" })
                                @Html.ValidationMessageFor(model => model.GOT, "", new { @class = "text-danger" })
                                On gross
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 form-group">
                    <div class="control-label text-black h5" style="font-weight:900">Allowances</div>
                    <hr />
                </div>

                <div class="form-group col-md-12">
                    <div class="required col-md-1 control-label text-semibold">Transport Allowance</div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.TransportAllowence, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rs.", @min = "0" } })
                        @Html.ValidationMessageFor(model => model.TransportAllowence, "", new { @class = "text-danger" })
                    </div>
                    <div class="required col-md-1 control-label text-semibold">Vehicle Entitlement</div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.CarEntitlement, new { htmlAttributes = new { @class = "form-control", @placeholder = "e.g Honda 1300CC" } })
                        @Html.ValidationMessageFor(model => model.CarEntitlement, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        <label class="required checkbox-inline checkbox-right text-semibold col-md-10" for="BuyBackOption">
                            @Html.CheckBox("BuyBackOption", new { @class = "styled" })
                            @Html.ValidationMessageFor(model => model.BuyBackOption, "", new { @class = "text-danger", @id = "BuyBackOption" })
                            Buy Back Option
                        </label>
                    </div>
                    <div id="buybackdiv">
                        <div class="required col-md-1 control-label text-semibold">Specify Years</div>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.SpecifyYears, new { htmlAttributes = new { @class = "form-control", @placeholder = "Years", @min = "0" } })
                            @Html.ValidationMessageFor(model => model.SpecifyYears, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="required col-md-2 control-label text-semibold">Fuel Allowance</div>
                    <div class="col-md-3 text-left">
                        @Html.EditorFor(model => model.FuelAllowance, new { htmlAttributes = new { @class = "form-control", @placeholder = "Amount/Litres" } })
                        @Html.ValidationMessageFor(model => model.FuelAllowance, "", new { @class = "text-danger" })
                    </div>
                    <div class="required col-md-3 control-label text-semibold ">Accomodation Allowance</div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.AccomdAllowence, new { htmlAttributes = new { @class = "form-control", @placeholder = "Specify Amount", @min = "0" } })
                        @Html.ValidationMessageFor(model => model.AccomdAllowence, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="required col-md-2 control-label text-semibold">Mobile  Allowance</div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.MobileAllowence, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rs.", @min = "0" } })
                        @Html.ValidationMessageFor(model => model.MobileAllowence, "", new { @class = "text-danger" })
                    </div>
                    <div class="required col-md-2 control-label text-semibold">Monthly Usage Limit</div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.MobileUserLimit, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rs.", @min = "0" } })
                        @Html.ValidationMessageFor(model => model.MobileUserLimit, "", new { @class = "text-danger" })
                    </div>
                    <div class="required col-md-2 control-label text-semibold">Mobile Renewal Period</div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.MobileNoOfYears, new { htmlAttributes = new { @class = "form-control", @placeholder = "No.of years", @min = "0" } })
                        @Html.ValidationMessageFor(model => model.MobileNoOfYears, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label text-semibold">COLA<span class="help-block">(Cost of living Allowance)</span></div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.COLA, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rs.", @min = "0" } })
                        @Html.ValidationMessageFor(model => model.COLA, "", new { @class = "text-danger" })
                    </div>
                    <div class="required col-md-1 control-label text-semibold">Others</div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Other, new { htmlAttributes = new { @class = "form-control", @placeholder = "If any" } })
                        @Html.ValidationMessageFor(model => model.Other, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <label class="control-label checkbox-inline checkbox-right text-semibold col-md-8" for="Food">
                            @Html.CheckBox("Food", new { @class = "styled" })
                            @Html.ValidationMessageFor(model => model.Food, "", new { @class = "text-danger" })
                            Food
                        </label>
                    </div>
                    <div id="fooddiv">
                        <div class="col-md-1">
                            <div class="radio-inline text-semibold">
                                @Html.RadioButton("FoodSelection", "Free", new { @checked = "checked", id = "Free" })
                                @Html.ValidationMessageFor(model => model.Free, "", new { @class = "text-danger" })
                                Free
                            </div>
                        </div>
                        <div class="col-md-1">
                            <label class="radio-inline text-semibold" for="Subsidized">
                                @Html.RadioButton("FoodSelection", "Subsidized", new { @class = "checked", id = "Subsidized" })
                                @Html.ValidationMessageFor(model => model.Subsidized, "", new { @class = "text-danger" })
                                Subsidized
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 form-group">
                    <div class="control-label text-black h5" style="font-weight:900">Insurance and Coverage</div>
                    <hr />
                </div>
                <div class="form-group col-md-12">
                    <div class="required col-md-1 control-label text-semibold">OPD Limit</div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.OPDInsurance, new { htmlAttributes = new { @class = "form-control", @placeholder = "Specify the Limit" } })
                        @Html.ValidationMessageFor(model => model.OPDInsurance, "", new { @class = "text-danger" })
                    </div>
                    <label class="required col-md-1 control-label text-semibold">IP Limit</label>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.IPInsurance, new { htmlAttributes = new { @class = "form-control", @placeholder = "Specify the Limit" } })
                        @Html.ValidationMessageFor(model => model.IPInsurance, "", new { @class = "text-danger" })
                    </div>
                    <div class="required col-md-1 control-label text-semibold">Life Insurance</div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.LifeInsurance, new { htmlAttributes = new { @class = "form-control", @placeholder = "Specify the Limit" } })
                        @Html.ValidationMessageFor(model => model.LifeInsurance, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-4">
                        <label class="required checkbox-inline checkbox-right text-semibold col-md-5" for="ProvidentFund">
                            @Html.CheckBox("ProvidentFund", new { @class = "styled", @id = "ProvidentFund" })
                            @Html.ValidationMessageFor(model => model.ProvidentFund, "", new { @class = "text-danger" })
                            Provident Fund
                        </label>
                    </div>
                    <div id="Providentdiv">
                        <div class="col-md-2">
                            <div class="required radio-inline text-semibold">
                                @Html.RadioButton("Providentselection", "BProvidentFund", new { @checked = "checked", id = "BProvidentFund" })
                                @Html.ValidationMessageFor(model => model.BProvidentFund, "", new { @class = "text-danger" })
                                On basic
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="required radio-inline text-semibold">
                                @Html.RadioButton("Providentselection", "GProvidentFund", new { @class = "checked", id = "GProvidentFund" })
                                @Html.ValidationMessageFor(model => model.GProvidentFund, "", new { @class = "text-danger" })
                                on gross
                            </div>
                        </div>
                        <div class="required control-label col-md-2 text-semibold">If Yes then %</div>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.ProvidentFundPerYear, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
                            @Html.ValidationMessageFor(model => model.ProvidentFundPerYear, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-4">
                        <label class="required checkbox-inline checkbox-right text-semibold col-md-5" for="Gratuity">
                            @Html.CheckBox("Gratuity", new { @class = "styled", @id = "Gratuity" })
                            @Html.ValidationMessageFor(model => model.Gratuity, "", new { @class = "text-danger" })
                            Gratuity
                        </label>
                    </div>
                    <div id="Gratuitydiv">
                        <div class="col-md-2">
                            <div class="required radio-inline text-semibold">
                                @Html.RadioButton("GratuitySelection", "BGratuity", new { @checked = "checked", id = "BGratuity" })
                                @Html.ValidationMessageFor(model => model.BGratuity, "", new { @class = "text-danger" })
                                On basic
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="required radio-inline text-semibold">
                                @Html.RadioButton("GratuitySelection", "GGratuity", new { @class = "checked", id = "GGratuity" })
                                @Html.ValidationMessageFor(model => model.GGratuity, "", new { @class = "text-danger" })
                                On gross
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 form-group">
                    <div class="control-label text-black h5" style="font-weight:900">Leaves</div>
                    <hr />
                </div>
                <div class="form-group col-md-12">
                    <div class="required col-md-2 control-label text-semibold">Annual</div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.AnnualTAllowence, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
                        @Html.ValidationMessageFor(model => model.AnnualTAllowence, "", new { @class = "text-danger" })
                    </div>
                    <label class="required col-md-2 control-label text-semibold">Casual</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.CasualTAllowence, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
                        @Html.ValidationMessageFor(model => model.CasualTAllowence, "", new { @class = "text-danger" })
                    </div>
                    <div class="required col-md-2 control-label text-semibold">Sick</div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.MedTAllowence, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
                        @Html.ValidationMessageFor(model => model.MedTAllowence, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="required col-md-2 control-label text-semibold">Working Days/Week</div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.TAllowenceWorkDay, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
                        @Html.ValidationMessageFor(model => model.TAllowenceWorkDay, "", new { @class = "text-danger" })
                    </div>
                    <label class="required col-md-2 control-label text-semibold">Expected Salary</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.ExpectedSalary, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
                        @Html.ValidationMessageFor(model => model.ExpectedSalary, "", new { @class = "text-danger" })
                    </div>
                    <div class="required col-md-2 control-label text-semibold">Any other Benefit</div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.OtherBenifits, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OtherBenifits, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <a class="heading-elements-toggle"><i class="icon-more"></i></a>
                <div class="heading-elements btn-toolbar pull-right">
                    <button type="button" onclick="LoadPVSkillDetailIndex()" class="btn btn-success ">Previous</button>
                    <button type="button" id="btnPostCreate" class="btn btn-success">Save</button>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        SaveCompensationFunction();
            var model = {
                "BBonus": @Html.Raw(Json.Encode(Model.BBonus)),
                "GBonus": @Html.Raw(Json.Encode(Model.GBonus)),
                "BLFA": @Html.Raw(Json.Encode(Model.BLFA)),
                "GLFA": @Html.Raw(Json.Encode(Model.GLFA)),
                "BOT": @Html.Raw(Json.Encode(Model.BOT)),
                "GOT": @Html.Raw(Json.Encode(Model.GOT)),
                "BProvidentFund": @Html.Raw(Json.Encode(Model.BProvidentFund)),
                "GProvidentFund": @Html.Raw(Json.Encode(Model.GProvidentFund)),
                "BGratuity": @Html.Raw(Json.Encode(Model.BGratuity)),
                "GGratuity": @Html.Raw(Json.Encode(Model.GGratuity)),
                "Free": @Html.Raw(Json.Encode(Model.Free)),
                "Subsidized": @Html.Raw(Json.Encode(Model.Subsidized)),
                };
            FormControlsScriptEditCompensation(model);
            CompensationDetailHide();
    });
</script>

