@model RMSCORE.EF.CandidateStrength
@{
    ViewBag.title = "Self-Assessment details";
    Layout = null;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formCreateID", id = "formCreateID" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.CandidateID)
    @Html.HiddenFor(model => model.StrengthID)
    <head>
        <style>

            .required:after {
                content: "*";
                font-weight: bold;
                color: red;
            }
        </style>
    </head>
    <div style="margin-top:-25px">
        <div class="modal-header">
            <div class="modal-title">
                <h3 class="text-black"><i class="icon-user-plus"></i>&nbsp;&nbsp;Self Assessment &nbsp;<small class="text-grey-400">(This is Mandatory)</small><small class="label label-info arrowed-right pull-right" style="margin-top:10px">If some field is not applicable simply write NIL and for numerical field write zero</small></h3>
            </div>
        </div>
        <!-- Page container -->
        <!-- Main content -->
        <!-- Basic datatable -->
        <div class="panel panel-flat">
            <div class="breadcrumb-line bg-green-600">
                <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
                @*<ul class="breadcrumb">
                    <li><a href="~/Job/Index">Dashboard</a></li>
                    <li><a class="active">SelfAssessment</a></li>
                    <li class="active">- Add New</li>
                </ul>*@
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="required control-label col-md-12 text-semibold">Objective</div>
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.Objective, new { @class = "form-control", @cols = 5, @rows = 3, placeholder = "Max 250 characters" })
                        @Html.ValidationMessageFor(m => m.Objective, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="required control-label col-md-12 text-semibold">Strengths </div>
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.Strengths, new { @class = "form-control", @cols = 5, @rows = 3, placeholder = "Max 250 characters" })
                        @Html.ValidationMessageFor(m => m.Strengths, null, new { @class = "text-danger" })
                    </div>
                    <label class="required col-md-12 control-label text-semibold">Areas of improvement</label>
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.AreaOfImprovement, new { @class = "form-control", @cols = 5, @rows = 3, placeholder = "Max 250 characters" })
                        @Html.ValidationMessageFor(m => m.AreaOfImprovement, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="required control-label col-md-12 text-semibold">Briefly explain your skills and experience: </div>
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.MeetRequirements, new { @class = "form-control", @cols = 5, @rows = 3, placeholder = "Max 250 characters" })
                        @Html.ValidationMessageFor(m => m.MeetRequirements, null, new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <a class="heading-elements-toggle"><i class="icon-more"></i></a>
                <div class="heading-elements btn-toolbar pull-right">
                    <button type="button" onclick="CompensationGetCreate()" class="btn btn-success">Previous</button>
                    <button type="button" id="btnPostCreate" class="btn btn-success">Save</button>
                    <button type="button" onclick="ReferenceGetCreate()" class="btn btn-success">Next</button>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        SelfAssessmentPostCreate();
    });
</script>


