@model RMSCORE.EF.CandidateStrength
@{
    ViewBag.title = "Self-Assessment details";
    Layout = null;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formCreateID", id = "formCreateID" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.CandidateID)
    @Html.HiddenFor(model => model.StrengthID)
    <head>
        <style>

            .required:after {
                content: "*";
                font-weight: bold;
                color: red;
            }
        </style>
    </head>
    <div style="margin-top:-25px">
        <div class="modal-header">
            <div class="modal-title">
                <h3 class="text-black"><i class="icon-user-plus"></i>&nbsp;&nbsp;Self Assessment &nbsp;<small class="text-black">(All fields with an asterisk (*) are mandatory)</small></h3>
            </div>
        </div>
        <!-- Page container -->
        <!-- Main content -->
        <!-- Basic datatable -->
        <div class="panel panel-flat">
            <div class="breadcrumb-line bg-primary"  style="height:41px">
                <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
                <ul class="breadcrumb">
                    @*<li><a href="~/Job/Index"> Dashboard</a></li>
                        <li><a class="active"> Miscellaneous</a></li>
                        <li class="active"> - Add New</li>*@
                </ul>
            </div>
            <div class="panel-body">
                <div class="form-group col-md-8">
                    <div>
                        <label class=" required control-label text-semibold">Objective</label>
                        @Html.TextAreaFor(model => model.Objective, new { @class = "form-control", @cols = 5, @rows = 3, placeholder = "Max 250 characters" })
                        <div class="small">
                            @Html.ValidationMessageFor(m => m.Objective, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-8">
                    <div>
                        <label class=" required control-label text-semibold">Strengths</label>
                        @Html.TextAreaFor(model => model.Strengths, new { @class = "form-control", @cols = 5, @rows = 3, placeholder = "Max 250 characters" })
                        <div class="small">
                            @Html.ValidationMessageFor(m => m.Strengths, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-8">
                    <div>
                        <label class=" required control-label text-semibold">Areas of improvement</label>
                        @Html.TextAreaFor(model => model.AreaOfImprovement, new { @class = "form-control", @cols = 5, @rows = 3, placeholder = "Max 250 characters" })
                        <div class="small">
                            @Html.ValidationMessageFor(m => m.AreaOfImprovement, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-8">
                    <div>
                        <label class=" required control-label text-semibold">Briefly explain your skills and experience</label>
                        @Html.TextAreaFor(model => model.MeetRequirements, new { @class = "form-control", @cols = 5, @rows = 3, placeholder = "Max 250 characters" })
                        <div class="small">
                            @Html.ValidationMessageFor(m => m.MeetRequirements, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <a class="heading-elements-toggle"><i class="icon-more"></i></a>
                <div class="heading-elements btn-toolbar pull-right">
                    <button type="button" onclick="LoadPVSkillDetailIndex()" class="btn bg-grey icon-arrow-left15">Previous</button>
                    <button type="button" id="btnPostCreate" class="btn bg-primary" style="font-family:'Times New Roman'">Save</button>
                    <button type="button" onclick="ReferenceGetCreate()" class="btn bg-grey icon-arrow-right15">Next</button>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        SelfAssessmentPostCreate();
    });
</script>


