@model RMSCORE.Models.Operation.VMSkillOperation
@{
    ViewBag.title = "Skill details";
    Layout = null;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.SkillID)
    @Html.HiddenFor(model => model.CandidateID)
    @Html.HiddenFor(model => model.SkillTitle)
    @Html.HiddenFor(model => model.SLevelName)
    @Html.HiddenFor(model => model.Description)
    <div class="modal-header bg-blue">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
            <i class="icon-menu7"></i> &nbsp;Delete Skill Detail
        </h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="col-md-12">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.SkillID)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SkillID)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.SkillTitle)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SkillTitle)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.SLevelName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SLevelName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" value="Delete" class="btn btn-danger pull-right">
        <button type="button" class=" btn btn-primary bg-primary-300" name="Close" data-dismiss="modal">Close</button>
        @*<button type="button" id="btnPostDelete" class="btn btn-success bg-success-800" value="Delete">Delete</button>*@
    </div>
}
@*<script type="text/javascript">
    $(document).ready(function () {
        SkillDetailPostDelete();
    });
</script>*@

