@model RMSCORE.Models.Operation.VMSkillOperation
@{
    ViewBag.title = "Skill details";
    Layout = null;
}
@using (Html.BeginForm(null,null, FormMethod.Post, new { name = "formEditID", id = "formEditID" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.SkillID)
    @Html.HiddenFor(model => model.CandidateID)
    <div class="modal-header bg-success-400">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
            <i class="icon-menu7"></i> &nbsp;Edit Skill Detail
        </h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="control-label col-md-2 text-semibold">Enter Skill</div>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.SkillTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SkillTitle, "", new { @class = "text-danger" })
                </div>
                <div class="control-label col-md-1 text-semibold text-right">Level</div>
                <div class="col-md-3">
                    @Html.DropDownList("SLevelID", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SLevelID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3 text-semibold">Skill Description</div>
                <div class="col-md-9">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @cols = 5, @rows = 1 })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class=" btn btn-primary bg-primary-300" name="Close" data-dismiss="modal">Close</button>
        <button type="button" id="btnPostEdit" class="btn btn-success bg-success-800" value="Save">Save</button>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        SkillDetailPostEdit(@Model.CandidateID);
    });
</script>
