@model List<RMSCORE.Models.Main.VMSkillIndex>
<!-- Page container -->
<div style="margin-top:-25px">
    <div class="modal-header">
        <div class="modal-title">
            <h3 class="text-black"><i class="glyphicon glyphicon-wrench"></i>&nbsp;&nbsp;Skill Details</h3>
        </div>
    </div>
</div>
<!-- Page content -->
<!-- Main content -->
<!-- Basic datatable -->
<div class="panel panel-flat">
    <div class="breadcrumb-line bg-green-600">
        <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
        <ul class="breadcrumb-elements bg-green-800" style="margin-right:-20px">
            <li><a href="#" id="SkillGetCreate"><i class="icon-add position-left"></i> Add New Skills</a></li>
        </ul>
    </div>
        <table class="table datatable-basic">
            <thead>
                <tr>
                    <th class="text-bold">
                        Skill Name
                    </th>
                    <th class="text-bold">
                        Skill Level
                    </th>
                    <th class="text-bold">
                        Description
                    </th>
                    <th class="text-bold">
                        Edit | Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SkillTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.skillLevelName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <button type="button" id="btnGetEdit" onclick="SkillDetailGetEdit(@item.SkillID)" class="btn border-info-600 btn-flat text-indigo-600 btn-icon btn-rounded"><i class="icon-pencil6"></i></button>
                            <button type="button" id="btnGetDelete" onclick="SkillDetailGetDelete(@item.SkillID)" class="btn border-warning btn-xs text-warning-700 btn-flat btn-rounded"><i class="note-icon-trash"></i></button>

                           </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
<script type="text/javascript" src="~/Scripts/Candidate/SkillDetail.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        SkillDetailGetCreate();
    });
</script>

