@model RMSCORE.EF.Candidate

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formEditID", id = "formEditID" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CandidateID)
    @Html.HiddenFor(model => model.UserID)
    <!-- Page container -->
    <head>
        <style>
            .panel-body {
                background-color: white;
            }
        </style>
    </head>
    <div style="margin-top:-45px">
        <div class="modal-header">
            <div class="modal-title">
                <h3 class="text-black"><i class="icon-person text-black"></i>&nbsp;&nbsp;Personal Details</h3>
            </div>
        </div>
        <div class="panel panel-flat">
            <div class="breadcrumb-line bg-green-600">
                <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
                <ul class="breadcrumb">
                    <li><a href="~/Job/Index"> Dashboard</a></li>
                    <li><a class="active"> Candidate</a></li>
                    <li class="active"> - Add New</li>
                </ul>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-4">
                        <div>
                            <label class="control-label text-semibold">Name</label>
                            @Html.TextBoxFor(model => model.CName, new { @class = "form-control " })
                            <div class="small">
                                @Html.ValidationMessageFor(model => model.CName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div>
                            <label class="control-label text-semibold">Father Name</label>
                            @Html.EditorFor(model => model.FatherName, new { htmlAttributes = new { @class = "form-control" } })
                            <div class="small">
                                @Html.ValidationMessageFor(model => model.FatherName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div>
                            <label class="control-label text-semibold">CNIC #</label>
                            @Html.EditorFor(model => model.CNICNo, new { htmlAttributes = new { @class = "form-control" } })
                            <div class="small">
                                @Html.ValidationMessageFor(model => model.CNICNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-3">
                        <div>
                            <label class="control-label text-semibold">DOB</label>
                            @Html.TextBoxFor(x => x.DOB, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                            <div class="small">
                                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div>
                            <label class="control-label text-semibold">Gender</label>
                            @Html.DropDownList("GenderID", null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div>
                            <label class="control-label text-semibold">Martial Status</label>
                            @Html.DropDownList("MartialStatusID", null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div>
                            <label class="control-label text-semibold">Blood Group</label>
                            @Html.DropDownList("BloodGroupID", null, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <div>
                            <label class="control-label text-semibold">Domicile</label>
                            @Html.DropDownList("DomicileCityID", null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group col-md-8">
                        <div>
                            <label class="control-label text-semibold">Address</label>
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                            <div class="small">
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <div>
                            <label class="control-label text-semibold">Country</label>
                            @Html.DropDownList("CountryID", null, new { @class = "form-control" })
                            @Html.HiddenFor(model => model.CountryID, new { id = "selectedCountryIDHidden" })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div>
                            <label class="control-label text-semibold">City</label>
                            <select class="form-control dropdown-toggle dropdown ComboBoxWidth" id="CityID" style=" width:300px;" name="CityID"></select>
                            @Html.HiddenFor(model => model.CityID, new { id = "selectedCityIdHidden" })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div>
                            <label class="control-label text-semibold">Nationality</label>
                            @Html.DropDownList("NationalityCountryID", null, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <div>
                            <label class="control-label text-semibold">Landline #</label>
                            @Html.EditorFor(model => model.LandlineNo, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div>
                            <label class="control-label text-semibold">Cell #</label>
                            @Html.EditorFor(model => model.CellNo, new { htmlAttributes = new { @class = "form-control" } })
                            <div class="small">
                                @Html.ValidationMessageFor(model => model.CellNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div>
                            <label class="control-label text-semibold">Email</label>
                            @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
                            <div class="small">
                                @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <div>
                            <label class="control-label text-semibold">Objective</label>
                            @Html.TextAreaFor(model => model.Objective, new { @class = "form-control", @cols = 5, @rows = 1 })
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <a class="heading-elements-toggle"><i class="icon-more"></i></a>
                <div class="heading-elements">
                    @*<button type="button" id="btnPostEdit" class="btn btn-success bg-success-800 pull" value="Save">Save</button>*@
                    <button type="button" id="btnPostCreate" class="btn btn-success heading-btn pull-right">Save</button>
                </div>
            </div>
        </div>
        <!-- /basic datatable -->
        <!-- /main content -->
        <!-- /page content -->
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {

        SavePersonalInfoFunction();
        LoadDD();
    });
</script>

