@model RMSCORE.EF.Candidate
@{
    Layout = null;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formEditID", id = "formEditID" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CandidateID)
    @Html.HiddenFor(model => model.UserID)
    <!-- Page container -->
    <head>
        <style>
            .panel-body {
                background-color: white;
            }

            .required:after {
                content: "*";
                font-weight: bold;
                color: red;
            }
        </style>
    </head>
    <div style="margin-top:-25px">
        <div class="modal-header">
            <div class="modal-title">
                <h3 class="text-black"><i class="icon-person text-black"></i>&nbsp;&nbsp;Personal Details&nbsp;<small class="text-black">(All fields with an asterisk (*) are mandatory)</small></h3>
            </div>
        </div>
        <div class="panel panel-flat">
            <div class="breadcrumb-line bg-primary" style="height:41px">
                <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
                <ul class="breadcrumb">
                    @*<li><a href="~/Job/Index"> Dashboard</a></li>
                        <li><a class="active"> Miscellaneous</a></li>
                        <li class="active"> - Add New</li>*@
                </ul>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-1">
                        <div>
                            <label class="required control-label text-semibold">Title</label>
                            @Html.DropDownList("SalutationID", null, new { @class = "form-control" })
                        </div>
                        <div class="small">
                            @Html.ValidationMessageFor(model => model.SalutationID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div>
                            <label class="required control-label text-semibold ">Full Name</label>
                            @Html.TextBoxFor(model => model.CName, new { @class = "form-control text-capitalize", id = "CName" })
                            <div class="small">
                                @Html.ValidationMessageFor(model => model.CName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div>
                            <label class="required control-label text-semibold">Father's/Husband's Name</label>
                            @Html.EditorFor(model => model.FatherName, new { htmlAttributes = new { @class = "form-control text-capitalize", id = "FName" } })
                            <div class="small">
                                @Html.ValidationMessageFor(model => model.FatherName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <div>
                            <label class="control-label text-semibold">Nationality</label>
                            @Html.DropDownList("NationalityCountryID", null, new { @class = "form-control" })
                        </div>
                        <div class="small">
                            @Html.ValidationMessageFor(model => model.NationalityCountryID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div id="CNICdiv" class="form-group col-md-3">
                        <div>
                            <label class="required control-label text-semibold">CNIC #</label>
                            @Html.EditorFor(model => model.CNICNo, new { htmlAttributes = new { @class = "form-control", placeholder = "xxxxx-xxxxxxx-x" } })
                            <div class="small">
                                @Html.ValidationMessageFor(model => model.CNICNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div id="Passportdiv" class="form-group col-md-3">
                        <div>
                            <label class="control-label text-semibold">Passport #</label>
                            @Html.EditorFor(model => model.PassportNumber, new { htmlAttributes = new { @class = "form-control" } })
                            <div class="small">
                                @Html.ValidationMessageFor(model => model.PassportNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="WorkPermitdiv" class="form-group">
                        <div class="control-label col-md-4 text-semibold">Do you have permit to work in pakistan?</div>
                        <div class="col-md-1">
                            <div class="radio-inline text-semibold">
                                @Html.RadioButton("WorlPermitSelection", "WorkPermitYes", new { @checked = "checked", @id = "WorkPermitYes" })
                                @Html.ValidationMessageFor(model => model.WorkPermitYes, "", new { @class = "text-danger" })
                                Yes
                            </div>
                        </div>
                        <div class="col-md-1">
                            <label class="radio-inline text-semibold">
                                @Html.RadioButton("WorlPermitSelection", "WorkPermitNo", new { @class = "checked", @id = "WorkPermitNo" })
                                @Html.ValidationMessageFor(model => model.WorkPermitNo, "", new { @class = "text-danger" })
                                No
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-3">
                        <div>
                            <label class="required control-label text-semibold">Date of Birth</label>
                            @Html.TextBoxFor(x => x.DOB, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "DOB", name = "DOB", @type = "text", placeholder = "dd-mm-yyyy" })
                            @*<input class="form-control" id="DOB" name="DOB" value="@(Model.DOB==null?"dd/mm/yyyy":Model.DOB.Value.ToString("dd/MM/yyyy"))" placeholder="dd/mm/yyyy" type="text" />*@
                            @*@Html.TextBoxFor(x => x.DOB, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })*@
                            <div class="small">
                                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <span class="help-block">Format must be (dd/mm/yyyy)</span>
                    </div>
                    <div class="form-group col-md-2">
                        <div>
                            <label class="required control-label text-semibold">Gender</label>
                            @Html.DropDownList("GenderID", null, new { @class = "form-control" })
                        </div>
                        <div class="small">
                            @Html.ValidationMessageFor(model => model.GenderID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div>
                            <label class="control-label text-semibold">Area of interest</label>
                            @Html.DropDownList("AreaOfInterestID", null, new { @class = "form-control" })
                        </div>
                        <div class="small">
                            @Html.ValidationMessageFor(model => model.AreaOfInterestID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-3" id="OtherAreaDivHide">
                        <div>
                            <label class="required control-label text-semibold">Other Interest</label>
                            @Html.EditorFor(model => model.OtherAreaName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="small">
                            @Html.ValidationMessageFor(model => model.OtherAreaName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="Domicilediv" class="form-group col-md-3">
                        <div>
                            <label class="control-label text-semibold">Domicile District</label>
                            @Html.DropDownList("DomicileCityID", null, new { @class = "form-control" })
                        </div>
                        <div class="small">
                            @Html.ValidationMessageFor(model => model.DomicileCityID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div id="OtherDomicileCitydiv" class="form-group col-md-3">
                        <div>
                            <label class=" control-label text-semibold">Domicile District</label>
                            @Html.EditorFor(model => model.OtherDomicileCityName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="small">
                            @Html.ValidationMessageFor(model => model.OtherDomicileCityName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div>
                            <label class="required required control-label text-semibold">Present Address</label>
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                            <div class="small">
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <div>
                            <label class="required control-label text-semibold">Country</label>
                            @Html.DropDownList("CountryID", null, new { @class = "form-control" })
                            @Html.HiddenFor(model => model.CountryID, new { id = "selectedCountryIDHidden" })
                        </div>
                        <div class="small">
                            @Html.ValidationMessageFor(model => model.CountryID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-3" id="CityDivHide">
                        <div>
                            <label class="required control-label text-semibold">City/District</label>
                            <select class="form-control dropdown-toggle dropdown ComboBoxWidth" id="CityID" name="CityID"></select>
                            @Html.HiddenFor(model => model.CityID, new { id = "selectedCityIdHidden" })
                        </div>
                        <div class="small">
                            @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-3" id="OtherCityDivHide">
                        <div>
                            <label class="required control-label text-semibold">City/District</label>
                            @Html.EditorFor(model => model.OtherCityName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="small">
                            @Html.ValidationMessageFor(model => model.OtherCityName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-3" id="OtherPakistaniCitydiv">
                        <div>
                            <label class="required control-label text-semibold">City/District</label>
                            @Html.EditorFor(model => model.OtherPakistaniCityName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="small">
                            @Html.ValidationMessageFor(model => model.OtherPakistaniCityName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div>
                            <label class=" control-label text-semibold">Tehsil/Town</label>
                            @Html.EditorFor(model => model.Tehsil, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="small">
                            @Html.ValidationMessageFor(model => model.Tehsil, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <div>
                            <label class=" control-label text-semibold">Postal Code</label>
                            @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="small">
                            @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div>
                            <label class="control-label text-semibold">Landline #</label>
                            @Html.EditorFor(model => model.LandlineNo, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div>
                            <label class="required control-label text-semibold">Cell #</label>
                            @Html.EditorFor(model => model.CellNo, new { htmlAttributes = new { @class = "form-control", placeholder = "+92-3001234567" } })
                            <div class="small">
                                @Html.ValidationMessageFor(model => model.CellNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div>
                            <label class="required control-label text-semibold">Email</label>
                            @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
                            <div class="small">
                                @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="row">
                        <div class="form-group col-md-12">
                            <div>
                                <label class="control-label text-semibold">Objective</label>
                                @Html.TextAreaFor(model => model.Objective, new { @class = "form-control", @cols = 5, @rows = 1 })
                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="panel-footer">
                <a class="heading-elements-toggle"><i class="icon-more"></i></a>
                <div class="heading-elements">
                    <button type="button" onclick="LoadPVEduDetailIndex(@Model.CandidateID)" class="btn bg-grey heading-btn pull-right icon-arrow-right15">Next</button>
                    @*<button type="button" id="btnPostEdit" class="btn btn-success bg-success-800 pull" value="Save">Save</button>*@
                    <button type="button" id="btnPostCreate" class="btn bg-primary heading-btn pull-right">Save</button>
                </div>
            </div>
        </div>
        <!-- /basic datatable -->
        <!-- /main content -->
        <!-- /page content -->
    </div>


}
<script type="text/javascript">
    $(document).ready(function () {
        var model = {
                "WorkPermitYes": @Html.Raw(Json.Encode(Model.WorkPermitYes)),
                "WorkPermitNo": @Html.Raw(Json.Encode(Model.WorkPermitNo))
                };
        $('#CName').tooltip({ 'trigger': 'focus', 'title': 'As per your CNIC' });
        $('#FName').tooltip({ 'trigger': 'focus', 'title': 'As per your CNIC' });
        SavePersonalInfoFunction();
        LoadDD();
        WorkPermitNotify();
        FormControlsScriptEdit(model);
        OtherCity();
        DateLoad();
    });
</script>

