@model RMSCORE.EF.Candidate
@{
    ViewBag.title = "Index details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        /*#hv1 :hover {
            color: white;
            background-color: dodgerblue
        }

        #hv2 :hover {
            color: white;
            background-color: dodgerblue
        }

        #hv3 :hover {
            color: white;
            background-color: dodgerblue
        }

        #hv4 :hover {
            color: white;
            background-color: dodgerblue
        }

        #hv5 :hover {
            color: white;
            background-color: dodgerblue
        }

        #hv6 :hover {
            color: white;
            background-color: dodgerblue
        }

        #hv33 :hover {
            color: white;
            background-color: dodgerblue
        }*/

        .liActive {
            color: white;
            background-color: dodgerblue;
        }

        .liInActive {
            color: white;
            background-color: #558B2F
        }
    </style>
</head>

@{RMSCORE.EF.V_UserCandidate LoggedInUser = (RMSCORE.EF.V_UserCandidate)HttpContext.Current.Session["LoggedInUser"];
    <div style="margin-top:20px;" class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main sidebar -->
            <div class="sidebar sidebar-main sidebar-default sidebar-separate">
                <div class="sidebar-content">
                    <!-- User details -->
                    <div class="panel panel-white">
                        <div class="panel no-border-top no-border-radius-top">
                            <div class="panel-body">
                                <section>
                                    <div class="form-group">
                                        <img src="~/Candidate/RetrieveImage/@Model.CandidateID" class="img-circle" id="dbImage" width="200" height="200" style="margin-left:10px; margin-top: 0px" />
                                        <div style="padding:10px;margin-left:50px ">
                                            <div tabindex="500" class="btn btn-group btn-file bg-green-600">
                                                <i class="icon-file-plus"></i>  <span>Browse</span>
                                                <input type="file" class="file-input" id="imgupload" onchange="fileCheck(this);" value="Open" data-browse-class="btn btn-primary btn-xs" data-show-caption="false" data-remove-class="btn btn-default btn-xs" data-show-upload="false" />
                                            </div>
                                            @*@if (LoggedInUser.UserStage == 8)
                                                {
                                                    <button class="btn btn-group bg-blue-600" onclick="ViewProfileIndex(@Model.CandidateID)" type="button"> Print </button>
                                                }*@
                                        </div>
                                    </div>
                                </section>
                                <ul class="navigation">
                                    <li id="hv1" onclick="CandidateGetCreate()"><a href="#" class="btn btn-block text-bold text-white"><i class="icon-person"></i>Personal Detail</a></li>
                                    <li id="hv2" class="hv" onclick="LoadPVEduDetailIndex(@Model.CandidateID)"><a href="#" class="btn btn-block text-bold text-white"><i class="icon-book"></i>Educational Detail</a></li>
                                    <li id="hv6" class="hv" onclick="MiscellaneousGetCreate(@Model.CandidateID,'@(HttpContext.Current.Session["ProfileStage"])')"><a href="#" class="btn btn-block  text-bold text-white"><i class="icon-nbsp"></i>Miscellaneous</a></li>
                                    @if (LoggedInUser.AppliedAs == 5 || LoggedInUser.AppliedAs == 6)
                                    {
                                        <li id="hv3" class="hv" onclick="LoadPVExperienceDetailIndex(@Model.CandidateID,'@(HttpContext.Current.Session["ProfileStage"])')"><a href="#" class="btn btn-block text-bold text-white"><i class="icon-stairs-up"></i>Experience</a></li>
                                    }
                                    <li id="hv33" class="hv" onclick="LoadPVSkillDetailIndex(@Model.CandidateID,'@(HttpContext.Current.Session["ProfileStage"])')"><a href="#" class="btn btn-block bg-green-800 text-bold text-white"><i class="glyphicon glyphicon-wrench"></i>Skills</a></li>
                                    @if (LoggedInUser.AppliedAs == 5 || LoggedInUser.AppliedAs == 6)
                                    {
                                        <li id="hv4" class="hv" onclick="CompensationGetCreate(@Model.CandidateID,'@(HttpContext.Current.Session["ProfileStage"])')"><a href="#" class="btn text-bold text-white"><i class="icon-user-plus"></i>Compensation</a></li>
                                    }
                                    <li id="hv7" class="hv" onclick="SelfAssessmentGetCreate(@Model.CandidateID)"><a href="#" class="btn text-bold text-white"><i class="icon-user-plus"></i>Self Assessment</a></li>
                                    <li id="hv5" class="hv" onclick="LoadPVReferenceDetailIndex(@Model.CandidateID,'@(HttpContext.Current.Session["ProfileStage"])')"><a href="#" class="btn btn-block text-bold text-white"><i class="icon-people"></i>Reference</a></li>
                                </ul>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.DropDownList("AppliedAs", new List<SelectListItem> { new SelectListItem { Text = "Internship", Value = "1" }, new SelectListItem { Text = "MTO", Value = "2" }, new SelectListItem { Text = "Trainee Engineer", Value = "3" }, new SelectListItem { Text = "Apprentice", Value = "4" }, new SelectListItem { Text = "Full Time Employee", Value = "5" }, new SelectListItem { Text = "Contractual Employee", Value = "6" }, }, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input id="Userstage" class="form-control" name="Userstage" type="hidden" value='@(HttpContext.Current.Session["ProfileStage"])' ) placeholder="UserStage">
                <input id="UserstageAfterFirst" class="form-control" name="UserstageAfterFirst" type="hidden">
            </div>
            <!-- Main content -->
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12" id="PartialViewContainer"></div>
                </div>
            </div>
            <!-- /page content -->
        </div>
    </div>
    <div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div id="modelBody">
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script type="text/javascript" src="~/Scripts/Candidate/PersonalDetail.js"></script>
<script type="text/javascript" src="~/Scripts/Candidate/EduDetail.js"></script>
<script type="text/javascript" src="~/Scripts/Candidate/SkillDetail.js"></script>
<script type="text/javascript" src="~/Scripts/Candidate/Experience.js"></script>
<script type="text/javascript" src="~/Scripts/Candidate/Miscellaneous.js"></script>
<script type="text/javascript" src="~/Scripts/Candidate/Reference.js"></script>
<script type="text/javascript" src="~/Scripts/Candidate/Compensation.js"></script>
<script type="text/javascript" src="~/Scripts/Candidate/SelfAssessment.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //var val = document.getElementById("Userstage").value;
        //if (val == 7) {
        //    if (document.getElementById("UserstageAfterFirst").value == "") {
        //        val = "2";
        //    }
        //    else {
        //        val = document.getElementById("UserstageAfterFirst").value;
        //    }
        //}
        //switch (val) {
        //    case "2":
                CandidateGetCreate();
                @*break;
            case "3":
                LoadPVEduDetailIndex(@Model.CandidateID, document.getElementById("Userstage").value);
                break;
            case "4":
                LoadPVExperienceDetailIndex(@Model.CandidateID, document.getElementById("Userstage").value);
                break;
            case "5":
                CompensationGetCreate(@Model.CandidateID, document.getElementById("Userstage").value);
                break;
            case "6":
                MiscellaneousGetCreate(@Model.CandidateID, document.getElementById("Userstage").value);
                break;
        }*@
    });
    function fileCheck(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#dbImage')
                    .attr('src', e.target.result)
                    .width(200)
                    .height(200);
                document.getElementById("dbImage").style.marginTop = "20px";
                document.getElementById("dbImage").style.marginLeft = "30px";
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        UpdateAppliedAs('@(HttpContext.Current.Session["ProfileStage"])');
    });
</script>