@model RMSCORE.Models.Operation.VMReferenceOperation
@{
    /**/

    ViewBag.title = "Reference details";
    Layout = null;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formCreateID", id = "formCreateID" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CandidateID)
    <div class="modal-header bg-blue">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
            <i class="icon-menu7"></i> &nbsp;Add Reference Detail
        </h4>
    </div>
    <div class="modal-body">
        <small class="text-grey-400">Reference#1:Personal should not be immediate relative</small>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="control-label col-md-2 text-semibold">Reference Name</div>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.RefName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RefName, "", new { @class = "text-danger" })
                </div>
                <div class="control-label col-md-1 text-semibold text-right"> Designation</div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.RefDesignation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RefDesignation, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-2 text-semibold">Organization</div>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Organization, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Organization, "", new { @class = "text-danger" })
                </div>
                <div class="control-label col-md-1 text-semibold">Contact</div>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.RefContact, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RefContact, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-2 text-semibold">How long known?</div>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.HowLongKnown, new { htmlAttributes = new { @class = "form-control", placeholder = "years" } })
                    @Html.ValidationMessageFor(model => model.HowLongKnown, "", new { @class = "text-danger" })
                </div>
                <div class="control-label col-md-1 text-semibold">Email</div>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.RefEmail, new { htmlAttributes = new { @class = "form-control", placeholder = "abc@gmail.com" } })
                    @Html.ValidationMessageFor(model => model.RefEmail, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class=" btn btn-primary bg-primary-300" name="Close" data-dismiss="modal">Close</button>
        <button type="button" id="btnPostCreate" class="btn btn-success bg-success-800" value="Save">Next</button>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        ReferenceDetailPostCreate(@Model.CandidateID);
    });
</script>


