@model RMSCORE.Models.Operation.VMReferenceOperation
@{
    ViewBag.title = "Reference details";
    Layout = null;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formCreateID", id = "formCreateID" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CandidateID)
    @Html.HiddenFor(model => model.RefID1)
    @Html.HiddenFor(model => model.RefID2)
    <head>
        <style>
            .panel-body {
                background-color: white;
            }

            .required:after {
                content: "*";
                font-weight: bold;
                color: red;
            }
        </style>
    </head>
    <div style="margin-top:-25px">
        <div class="modal-header">
            <div class="modal-title">
                <h3 class="text-black"><i class="icon-person text-black"></i>&nbsp;&nbsp;References&nbsp;<small class="text-black">(All fields with an asterisk (*) are mandatory)</small></h3>
            </div>
        </div>
        <div class="panel panel-flat">
            <div class="breadcrumb-line bg-primary" style="height:41px">
                <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
                <ul class="breadcrumb">
                    @*<li><a href="~/Job/Index"> Dashboard</a></li>
                        <li><a class="active"> Miscellaneous</a></li>
                        <li class="active"> - Add New</li>*@
                </ul>
            </div>
            <div class="panel-body">
                <div class="text-black">Reference # 1 : Personal (should not be immediate relative)</div>
                <hr />
                <div class="row">
                    <div class="form-group col-md-2">
                        <div>
                            <label class="required control-label text-semibold">Title</label>s
                            @Html.DropDownList("SalutationID1", null, new { @class = "form-control" })
                        </div>
                        <div class="small">
                            @Html.ValidationMessageFor(model => model.SalutationID1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div>
                            <label class="required control-label text-semibold">Referee's Full Name</label>
                            @Html.EditorFor(model => model.RefName1, new { htmlAttributes = new { @class = "form-control", id = "FName" } })
                            <div class="small">
                                @Html.ValidationMessageFor(model => model.RefName1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div>
                            <label class="required control-label text-semibold">Designation</label>
                            @Html.EditorFor(model => model.RefDesignation1, new { htmlAttributes = new { @class = "form-control", id = "FName" } })
                            <div class="small">
                                @Html.ValidationMessageFor(model => model.RefDesignation1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <div>
                            <label class="required control-label text-semibold">Organization</label>
                            @Html.EditorFor(model => model.Organization1, new { htmlAttributes = new { @class = "form-control", id = "FName" } })
                            <div class="small">
                                @Html.ValidationMessageFor(model => model.Organization1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div>
                            <label class="required control-label text-semibold">Phone #</label>
                            @Html.EditorFor(model => model.RefContact1, new { htmlAttributes = new { @class = "form-control", id = "FName" } })
                            <div class="small">
                                @Html.ValidationMessageFor(model => model.RefContact1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div>
                            <label class="required control-label text-semibold">How long known?</label>
                            @Html.EditorFor(model => model.HowLongKnown1, new { htmlAttributes = new { @class = "form-control", id = "FName" } })
                            <div class="small">
                                @Html.ValidationMessageFor(model => model.HowLongKnown1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div>
                            <label class="required control-label text-semibold">Email</label>
                            @Html.EditorFor(model => model.RefEmail1, new { htmlAttributes = new { @class = "form-control", id = "FName" } })
                            <div class="small">
                                @Html.ValidationMessageFor(model => model.RefEmail1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-black">Reference # 2 : Professional (someone you know in a professional capacity)</div>
                <hr />
                <div class="row">
                    <div class="form-group col-md-2">
                        <div>
                            <label class="required control-label text-semibold">Title</label>
                            @Html.DropDownList("SalutationID2", null, new { @class = "form-control" })
                        </div>
                        <div class="small">
                            @Html.ValidationMessageFor(model => model.SalutationID2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div>
                            <label class="required control-label text-semibold">Referee's Full Name</label>
                            @Html.EditorFor(model => model.RefName2, new { htmlAttributes = new { @class = "form-control", id = "FName" } })
                            <div class="small">
                                @Html.ValidationMessageFor(model => model.RefName2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div>
                            <label class="required control-label text-semibold">Designation</label>
                            @Html.EditorFor(model => model.RefDesignation2, new { htmlAttributes = new { @class = "form-control", id = "FName" } })
                            <div class="small">
                                @Html.ValidationMessageFor(model => model.RefDesignation2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <div>
                            <label class="required control-label text-semibold">Organization</label>
                            @Html.EditorFor(model => model.Organization2, new { htmlAttributes = new { @class = "form-control", id = "FName" } })
                            <div class="small">
                                @Html.ValidationMessageFor(model => model.Organization2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div>
                            <label class="required control-label text-semibold">Phone #</label>
                            @Html.EditorFor(model => model.RefContact2, new { htmlAttributes = new { @class = "form-control", id = "FName" } })
                            <div class="small">
                                @Html.ValidationMessageFor(model => model.RefContact2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div>
                            <label class="required control-label text-semibold">How long known?</label>
                            @Html.EditorFor(model => model.HowLongKnown2, new { htmlAttributes = new { @class = "form-control", id = "FName" } })
                            <div class="small">
                                @Html.ValidationMessageFor(model => model.HowLongKnown2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div>
                            <label class="required control-label text-semibold">Email</label>
                            @Html.EditorFor(model => model.RefEmail2, new { htmlAttributes = new { @class = "form-control", id = "FName" } })
                            <div class="small">
                                @Html.ValidationMessageFor(model => model.RefEmail2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <a class="heading-elements-toggle"><i class="icon-more"></i></a>
                <div class="heading-elements btn-toolbar pull-right">
                    <button type="button" onclick="SelfAssessmentGetCreate()" class="btn bg-grey icon-arrow-left15">Previous</button>
                    <button type="button" id="btnPostCreate" class="btn bg-primary" style="font-family:'Times New Roman'">Save</button>
                    <button type="button" onclick="MiscellaneousGetCreate()" class="btn bg-grey icon-arrow-right15">Next</button>
                </div>
            </div>
        </div>
        <!-- /basic datatable -->
        <!-- /main content -->
        <!-- /page content -->
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        ReferenceDetailPostCreate(@Model.CandidateID);
    });
</script>


