@model RMSCORE.Models.Operation.VMReferenceOperation
@{
    ViewBag.title = "Reference details";
    Layout = null;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formDelateID", id = "formDeleteID" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.RefID)
    @Html.HiddenFor(model => model.RefName)
    @Html.HiddenFor(model => model.CandidateID)
    @Html.HiddenFor(model => model.RefDesignation)
    @Html.HiddenFor(model => model.RefEmail)
    @Html.HiddenFor(model => model.RefContact)
    <div class="modal-header bg-success-400">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
            <i class="icon-menu7"></i> &nbsp;Delete Experience Detail
        </h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="col-md-12">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.RefID)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.RefID)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.RefName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.RefName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.RefContact)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.RefContact)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.RefDesignation)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.RefDesignation)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.RefEmail)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.RefEmail)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class=" btn btn-primary bg-brown-600" name="Close" data-dismiss="modal">Close</button>
        <button type="button" id="btnPostDelete" class="btn btn-success bg-success-800" value="Delete">Delete</button>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        ReferenceDetailPostDelete(@Model.CandidateID);
    });
</script>

