@model List<RMSCORE.Models.Main.VMReferenceIndex>

<!-- Page container -->
<!-- Basic datatable -->
<div class="tab-pane" id="tabs_education">
    <div style="margin-top:-25px">
        <div class="modal-header">
            <div class="modal-title">
                <h3 class="text-black">
                    <i class="icon-people"></i>&nbsp;&nbsp;Reference Details &nbsp;<small class="text-grey-600">(Add at-least two references.)</small>
                    <div class="btn btn-toolbar pull-right">
                        <button type="button" onclick="SelfAssessmentGetCreate()" class="btn btn-success">Previous</button>
                    </div>
                </h3>
            </div>
        </div>

        <div class="panel panel-flat">
            <div class="breadcrumb-line bg-green-600">
                <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
                <ul class="breadcrumb-elements bg-green-800" style="margin-right:-20px">
                    <li><a href="#" id="ReferenceGetCreate"><i class="icon-add position-left"></i> Add New Reference</a></li>
                </ul>
            </div>
            <table class="table datatable-basic ">
                <thead>
                    <tr>
                        <th class="text-bold">
                            Organization
                        </th>
                        <th class="text-bold">
                            Name
                        </th>
                        <th class="text-bold">
                            Designation
                        </th>
                        <th class="text-bold">
                            Contact
                        </th>
                        <th class="text-bold">
                            Email
                        </th>
                        <th class="text-bold">
                            Known period
                        </th>
                        <th class="text-bold">
                            Edit | Delete
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Organization)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RefName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RefDesignation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RefContact)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RefEmail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HowLongKnown)
                            </td>
                            <td>
                                <button type="button" id="btnGetEdit" onclick="ReferenceDetailGetEdit(@item.RefID)" class="btn border-info-600 btn-flat text-indigo-600 btn-icon btn-rounded"><i class="icon-pencil6"></i></button>
                                <button type="button" id="btnGetDelete" onclick="ReferenceDetailGetDelete(@item.RefID)" class="btn border-warning btn-xs text-warning-700 btn-flat btn-rounded"><i class="note-icon-trash"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Basic datatable -->
<script type="text/javascript" src="~/Scripts/Candidate/Reference.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        ReferenceDetailGetCreate();
    });
</script>
