@model RMSCORE.Models.Operation.VMExperienceOperation
@{
    ViewBag.title = "Experience details";
    Layout = null;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formCreateID", id = "formCreateID" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.CandidateID)
    <head>
        <style>

            .required:after {
                content: "*";
                font-weight: bold;
                color: red;
            }
        </style>
    </head>
    <div class="modal-header bg-blue">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
            <i class="icon-menu7"></i> &nbsp;Add Experience Detail&nbsp;<small class="text-grey-400">(All fields with an asterisk (*) are mandatory)</small>
        </h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="control-label col-md-1 text-semibold text-right">Industry</div>
                <div class="col-md-2">
                    @Html.DropDownList("IndustryID", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IndustryID, "", new { @class = "text-danger" })
                </div>
                <div class="required control-label col-md-2 text-semibold text-right">Designation</div>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.PositionTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PositionTitle, "", new { @class = "text-danger" })
                </div>
                <div class="required control-label col-md-1 text-semibold text-right">Employer</div>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.EmployerName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmployerName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-1 text-semibold text-right">Career Level</div>
                <div class="col-md-3">
                    @Html.DropDownList("CareerLevelID", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CareerLevelID, "", new { @class = "text-danger" })
                </div>
                <div class="control-label col-md-1 text-semibold">JobTitle</div>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="required control-label col-md-1 text-semibold text-right">Start Date</div>
                <div class="col-md-3">
                    @Html.TextBoxFor(x => x.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                </div>
                <div id="hidedatediv">
                    <div class="control-label col-md-1 text-semibold">End Date</div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(x => x.EndDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="checkbox-inline checkbox-right text-semibold col-md-12 col-lg-pull-4 text-right " for="CurrentlyWorking">
                        @Html.CheckBox("CurrentlyWorking", new { @class = "styled", @id = "CurrentlyWorking" })
                        @Html.ValidationMessageFor(model => model.CurrentlyWorking, "", new { @class = "text-danger" })
                        Currently Working
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-1 text-semibold text-left">Address</div>
                <div class="col-md-7">
                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @cols = 5, @rows = 2 })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
                <div class="control-label col-md-1 text-semibold text-right">City</div>
                <div class="col-md-3">
                    @Html.DropDownList("CityID", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="required control-label col-md-2 text-semibold">Responsibility#1:</div>
                <div class="col-md-6 text-left">
                    @Html.TextAreaFor(model => model.Responsibility1, new { @class = "form-control multi-line", @cols = 3, @rows = 3 })
                    @Html.ValidationMessageFor(m => m.Responsibility1, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="required control-label col-md-2 text-semibold">Responsibility#2:</div>
                <div class="col-md-6">
                    @Html.TextAreaFor(model => model.Responsibility2, new { @class = "form-control multi-line", @cols = 3, @rows = 3 })
                    @Html.ValidationMessageFor(m => m.Responsibility2, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">

                <div class="required control-label col-md-2 text-semibold">Responsibility#3:</div>
                <div class="col-md-6">
                    @Html.TextAreaFor(model => model.Responsibility3, new { @class = "form-control multi-line", @cols = 3, @rows = 3 })
                    @Html.ValidationMessageFor(m => m.Responsibility3, null, new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="form-group">
                    <div class="required control-label col-md-1 text-semibold">Responsibility#4:</div>
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.Responsibility4, new { @class = "form-control multi-line", @cols = 5, @rows = 1 })
                        @Html.ValidationMessageFor(m => m.Responsibility4, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="required control-label col-md-1 text-semibold">Responsibility#5:</div>
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.Responsibility5, new { @class = "form-control multi-line", @cols = 5, @rows = 1 })
                        @Html.ValidationMessageFor(m => m.Responsibility5, null, new { @class = "text-danger" })
                    </div>
                </div>*@
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class=" btn btn-primary bg-primary-300" name="Close" data-dismiss="modal">Close</button>
        <button type="button" id="btnPostCreate" class="btn btn-success bg-success-800" value="Save">Save</button>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#hidedatediv").show();
        if (document.getElementById('CurrentlyWorking').checked) {
            $("#hidedatediv").hide();
        }
        //LFA Selected
        $('#CurrentlyWorking').click(function () {
            if ($(this).is(":checked")) {
                $("#hidedatediv").hide();
            }
            else {
                $("#hidedatediv").show();
            }
        });
        ExperienceDetailPostCreate(@Model.CandidateID);
    });
</script>

