@model RMSCORE.Models.Operation.VMExperienceOperation
@{
    ViewBag.title = "Experience details";
    Layout = null;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formCreateID2", id = "formCreateID2" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.CandidateID)
    <head>
        <style>

            .required:after {
                content: "*";
                font-weight: bold;
                color: red;
            }
        </style>
    </head>
    <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
            <i class="icon-menu7"></i> &nbsp;Add Job Detail &nbsp;<small class="text-black">(All fields with an asterisk (*) are mandatory)</small>
        </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-md-3">
                <div>
                    <label class="required control-label text-semibold">Industry Name</label>
                    @Html.DropDownList("IndustryID", null, new { @class = "form-control" })
                </div>
                <div class="small">
                    @Html.ValidationMessageFor(model => model.IndustryID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div id="OtherIndustry" class="form-group col-md-3">
                <div>
                    <label class="required control-label text-semibold">Industry Name</label>
                    @Html.EditorFor(model => model.OtherIndustryName, new { htmlAttributes = new { @class = "form-control", placeholder = "Title", id = "OtherDegreeType" } })
                </div>
                <div class="small">
                    @Html.ValidationMessageFor(model => model.OtherIndustryName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3">
                <div>
                    <label class="required control-label text-semibold">Employer Name</label>
                    @Html.EditorFor(model => model.EmployerName, new { htmlAttributes = new { @class = "form-control text-capitalize", placeholder = "Name of employer", id = "EmployerName" } })
                </div>
                <div class="small">
                    @Html.ValidationMessageFor(model => model.EmployerName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3">
                <div>
                    <label class="required control-label text-semibold">Manager's Full Name</label>
                    @Html.EditorFor(model => model.SupervisorName, new { htmlAttributes = new { @class = "form-control  text-capitalize", placeholder = "Name", id = "EmployerName" } })
                </div>
                <div class="small">
                    @Html.ValidationMessageFor(model => model.SupervisorName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <div>
                    <label class="required control-label text-semibold">Career level</label>
                    @Html.DropDownList("CareerLevelID", null, new { @class = "form-control" })
                </div>
                <div class="small">
                    @Html.ValidationMessageFor(model => model.CareerLevelID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3">
                <div>
                    <label class="required control-label text-semibold">Job Title</label>
                    @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control", placeholder = "Title", id = "EmployerName" } })
                </div>
                <div class="small">
                    @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <div>
                    <label class="required control-label text-semibold">Start Date</label>
                    @Html.TextBoxFor(x => x.StartDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "StartDate", name = "StartDate", @type = "text", placeholder = "" })
                    @*<input class="form-control" id="StartDate" name="StartDate" value="@(Model.StartDate==null?"dd/mm/yyyy":Model.StartDate.Value.ToString("dd/MM/yyyy"))" placeholder="dd/mm/yyyy" type="text" />*@
                    @*@Html.TextBoxFor(x => x.DOB, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })*@
                    <div class="small">
                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <span class="help-block">e.g. 01-January-2018</span>
            </div>
            <div id="hidedatediv" class="form-group col-md-3">
                <div>
                    <label class="required control-label text-semibold">End Date</label>
                    @Html.TextBoxFor(x => x.EndDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", id = "EndDate", name = "EndDate", @type = "text", placeholder = "" })
                    @*<input class="form-control" id="EndDate" name="EndDate" value="@(Model.EndDate==null?"dd/mm/yyyy":Model.EndDate.Value.ToString("dd/MM/yyyy"))" placeholder="dd/mm/yyyy" type="text" />*@
                    @*@Html.TextBoxFor(x => x.DOB, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })*@
                    <div class="small">
                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <span class="help-block">e.g. 01-January-2018</span>
            </div>
            <div class="col-md-4">
                <label class="checkbox-inline checkbox-right text-semibold col-md-6" for="CurrentlyWorking">
                    @Html.CheckBox("CurrentlyWorking", new { @class = "styled", @id = "CurrentlyWorking", @name = "CurrentlyWorking" })
                    @Html.ValidationMessageFor(model => model.CurrentlyWorking, "", new { @class = "text-danger" })
                    Currently Working
                </label>
            </div>
        </div>
        <div class="row">
            <div id="hidereasonofleaving" class="form-group col-md-6">
                <div>
                    <label class="required control-label text-semibold">Reason of Leaving</label>
                    @Html.TextAreaFor(model => model.ReasonOfLeaving, new { @class = "form-control" })
                </div>
                <div class="small">
                    @Html.ValidationMessageFor(model => model.ReasonOfLeaving, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-6">
                <div>
                    <label class="required control-label text-semibold">Address</label>
                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
                </div>
                <div class="small">
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <div>
                    <label class="required control-label text-semibold">Country</label>
                    @Html.DropDownList("CountryID", null, new { @class = "form-control" })
                    @Html.HiddenFor(model => model.CountryID, new { id = "selectedCountryIDHidden" })
                </div>
                <div class="small">
                    @Html.ValidationMessageFor(model => model.CountryID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div id="CityDivHide2" class="form-group col-md-3">
                <div>
                    <label class="required control-label text-semibold">City</label>
                    <select class="form-control dropdown-toggle dropdown ComboBoxWidth" id="CityID" name="CityID"></select>
                    @Html.HiddenFor(model => model.CityID, new { id = "selectedCityIdHidden" })
                </div>
                <div class="small">
                    @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div id="OtherCityDivHide2" class="form-group col-md-3">
                <div>
                    <label class="required control-label text-semibold">City</label>
                    @Html.EditorFor(model => model.OtherCity, new { htmlAttributes = new { @class = "form-control", id = "OtherDegreeType" } })
                </div>
                <div class="small">
                    @Html.ValidationMessageFor(model => model.OtherCity, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3" id="OtherPakistaniCitydiv2">
                <div>
                    <label class="required control-label text-semibold">Other City</label>
                    @Html.EditorFor(model => model.OtherCityName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="small">
                    @Html.ValidationMessageFor(model => model.OtherCityName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <div class="text-semibold text-left">Reponsibilities:</div>
            <hr />
        </div>
        <div class="row">
            <div class="required control-label col-md-1 text-semibold">1:</div>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Responsibility1, new { @maxlength = 250, @class = "form-control", @cols = 3, @rows = 2, @id = "textarea1", placeholder = "Up to maximum length of 250 characters" })
                @Html.ValidationMessageFor(m => m.Responsibility1, null, new { @class = "text-danger" })
                <div id="textarea_feedback1" class="text-blue-800 text-semibold"></div>
            </div>
        </div>
        <div class="row">
            <div class="required control-label col-md-1 text-semibold">2:</div>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Responsibility2, new { @maxlength = 250, @class = "form-control", @cols = 3, @rows = 2, @id = "textarea2", placeholder = "Up to maximum length of 250 characters" })
                @Html.ValidationMessageFor(m => m.Responsibility2, null, new { @class = "text-danger" })
                <div id="textarea_feedback2" class="text-blue-800 text-semibold"></div>
            </div>
        </div>
        <div class="row">
            <div class="required control-label col-md-1 text-semibold">3:</div>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Responsibility3, new { @maxlength = 250, @class = "form-control", @cols = 3, @rows = 2, @id = "textarea3", placeholder = "Up to maximum length of 250 characters" })
                @Html.ValidationMessageFor(m => m.Responsibility3, null, new { @class = "text-danger" })
                <div id="textarea_feedback3" class="text-blue-800 text-semibold"></div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="form-group">
                <div class="control-label col-md-3 text-semibold">May we contact the employer?</div>
                <div class="col-md-2">
                    <div class="radio-inline text-semibold">
                        @Html.RadioButton("ContactSelection", "ContactEmployerYes", new { @checked = "checked", @id = "ContactEmployerYes" })
                        @Html.ValidationMessageFor(model => model.ContactEmployerYes, "", new { @class = "text-danger" })
                        Yes
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="radio-inline text-semibold">
                        @Html.RadioButton("ContactSelection", "ContactEmployerNo", new { @class = "checked", @id = "ContactEmployerNo" })
                        @Html.ValidationMessageFor(model => model.ContactEmployerNo, "", new { @class = "text-danger" })
                        No
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class=" btn bg-grey" name="Close" data-dismiss="modal">Close</button>
        <button type="button" id="btnPostCreate2" class="btn bg-primary">Save</button>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
         $("#hidedatediv").show();
         $("#hidereasonofleaving").show();
        if (document.getElementById('CurrentlyWorking').checked) {
            $("#hidedatediv").hide();
            $("#hidereasonofleaving").hide();
        }
        //LFA Selected
        $('#CurrentlyWorking').click(function () {
            if ($(this).is(":checked")) {
                $("#hidedatediv").hide();
                $("#hidereasonofleaving").hide();
            }
            else {
                $("#hidedatediv").show();
                $("#hidereasonofleaving").show();
            }
        });
        LoadDD2();
        OtherCity2();
        ExperienceDateLoad();
        ExperienceDetailPostCreate(@Model.CandidateID);
     FormControlsScriptEditExperience('@Model.ContactEmployerYes', '@Model.ContactEmployerNo');
    });
    var text_max1 = 250;
        $('#textarea_feedback1').html(text_max1 + ' characters remaining');

        $('#textarea1').keyup(function () {
            var text_length1 = $('#textarea1').val().length;
            var text_remaining1 = text_max1 - text_length1;

            $('#textarea_feedback1').html(text_remaining1 + ' characters remaining');
    });
    var text_max2 = 250;
    $('#textarea_feedback2').html(text_max2 + ' characters remaining');

    $('#textarea2').keyup(function () {
        var text_length2 = $('#textarea2').val().length;
        var text_remaining2 = text_max2 - text_length2;

        $('#textarea_feedback2').html(text_remaining2 + ' characters remaining');
    });
    var text_max3 = 250;
    $('#textarea_feedback3').html(text_max3 + ' characters remaining');

    $('#textarea3').keyup(function () {
        var text_length3 = $('#textarea3').val().length;
        var text_remaining3 = text_max3 - text_length3;

        $('#textarea_feedback3').html(text_remaining3 + ' characters remaining');
    });
</script>

