@model List<RMSCORE.Models.Main.VMExperienceIndex>

<!-- Page container -->
<!-- Page content -->
<!-- Main content -->
<!-- Basic datatable -->
<div style="margin-top:-25px">
    <div class="modal-header">
        <div class="modal-title">
            <h3 class="text-black"><i class="icon-stairs-up"></i>&nbsp;&nbsp;Experience Details<small class="text-grey-600">(You have to add at least one education to proceed further)</small></h3>
        </div>
    </div>
</div>
<!-- Page content -->
<!-- Main content -->
<!-- Basic datatable -->
<div class="panel panel-flat">
    <div class="breadcrumb-line bg-green-600">
        <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
        <ul class="breadcrumb-elements bg-green-800" style="margin-right:-20px">
            <li><a href="#" id="ExperienceGetCreate"><i class="icon-add position-left"></i> Add New Experience</a></li>
        </ul>
    </div>
    <table class="table datatable-basic">
        <thead>
            <tr>
                <th class="text-bold">
                    Designation
                </th>
                <th class="text-bold">
                    Employer
                </th>
                <th class="text-bold">
                    StartDate
                </th>
                <th class="text-bold">
                    EndDate
                </th>
                <th class="text-bold">
                    Working
                </th>
                <th class="text-bold">
                    Edit | Delete
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PositionTitle)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.EmployerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    @if (item.CurrentlyWorking == true)
                    {
                        <td>
                            <span class="label label-success">Active</span>
                        </td>
                    }
                    @if (item.CurrentlyWorking == false)
                    {
                        <td>
                            <span class="label label-danger">Inactive</span>
                        </td>
                    }
                    <td>
                        <button type="button" id="btnGetEdit" onclick="ExperienceDetailGetEdit(@item.ExpID)" class="btn border-info-600 btn-flat text-indigo-600 btn-icon btn-rounded"><i class="icon-pencil6"></i></button>
                        <button type="button" id="btnGetDelete" onclick="ExperienceDetailGetDelete(@item.ExpID)" class="btn border-warning btn-xs text-warning-700 btn-flat btn-rounded"><i class="note-icon-trash"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript" src="~/Scripts/Candidate/Experience.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        ExperienceDetailGetCreate();
    });
</script>
