@model List<RMSCORE.Models.Main.VMExperienceIndex>
@{RMSCORE.EF.V_UserCandidate LoggedInUser = (RMSCORE.EF.V_UserCandidate)HttpContext.Current.Session["LoggedInUser"];
    <!-- Page container -->
    <!-- Page content -->
    <!-- Main content -->
    <!-- Basic datatable -->
    <div style="margin-top:-25px">
        <div class="modal-header">
            <div class="modal-title">
                <h3 class="text-black"><i class="icon-stairs-up"></i>&nbsp;&nbsp;Experience Details &nbsp;<small class="text-grey-600">(You have to add at least one education to proceed further)</small></h3>
                <div class="col-md-6 pull-left">
                    <label class=" checkbox-inline checkbox-right text-semibold col-md-6" for="HaveExperience">
                        @if (LoggedInUser.HaveExperience == true)
                        {@Html.CheckBox("HaveExperience", new { @class = "styled", @id = "HaveExperience", @checked = "checked" })}
                    else
                    { @Html.CheckBox("HaveExperience", new { @class = "styled", @id = "HaveExperience" })}

                        Do have any working experience?
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <!-- Main content -->
    <!-- Basic datatable -->

    if (LoggedInUser.HaveExperience == true)
    {
        <div class="panel panel-flat">
            <div class="breadcrumb-line bg-green-600">
                <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
                <ul class="breadcrumb-elements bg-green-800" style="margin-right:-20px">
                    <li>
                        <a href="#" id="ExperienceGetCreate"><i class="icon-add position-left"></i> Add New Experience</a>
                    </li>
                </ul>
            </div>
        </div>
        <table class="table datatable-basic">
            <thead>
                <tr>
                    <th class="text-bold">
                        Employer
                    </th>
                    <th class="text-bold">
                        Nature of business
                    </th>
                    <th class="text-bold">
                        Position/Designation
                    </th>
                    <th class="text-bold">
                        Joining Date
                    </th>
                    <th class="text-bold">
                        Leaving Date
                    </th>
                    <th class="text-bold">
                        Contact Employeer
                    </th>
                    <th class="text-bold">
                        Edit | Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpIndustryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PositionTitle)
                        </td>
                        <td>
                            @if (item.StartDate != null)
                            {@item.StartDate.Value.ToString("dd-MM-yyyy");
                        }
                        </td>
                        <td>
                            @if (item.EndDate != null)
                            {@item.EndDate.Value.ToString("dd-MM-yyyy");
                        }
                        </td>
                        <td>
                            @if (item.ContactEmployer == true)
                            {
                                <span class="label label-success">Yes</span>
                            }
                            @if (item.ContactEmployer == false)
                            {
                                <span class="label label-danger">No</span>
                            }
                        </td>
                        <td>
                            <button type="button" id="btnGetEdit" onclick="ExperienceDetailGetEdit(@item.ExpID)" class="btn border-info-600 btn-flat text-indigo-600 btn-icon btn-rounded"><i class="icon-pencil6"></i></button>
                            <button type="button" id="btnGetDelete" onclick="ExperienceDetailGetDelete(@item.ExpID)" class="btn border-warning btn-xs text-warning-700 btn-flat btn-rounded"><i class="note-icon-trash"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
<script type="text/javascript" src="~/Scripts/Candidate/Experience.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        ExperienceDetailGetCreate();
        HaveExperience();
        if (document.getElementById('HaveExperience').checked) {
            $("#hv4").show();
        }
        else {
            $("#hv4").hide();
        }
        //Worked Before Selected
        $('#HaveExperience').click(function () {
            if ($(this).is(":checked")) {
                $("#hv4").show();
            }
            else {
                $("#hv4").hide();
            }
        });
    });
</script>
