@model List<RMSCORE.Models.Main.VMExperienceIndex>
@{RMSCORE.EF.V_UserCandidate LoggedInUser = (RMSCORE.EF.V_UserCandidate)HttpContext.Current.Session["LoggedInUser"];
    <!-- Page container -->
    <!-- Page content -->
    <!-- Main content -->
    <!-- Basic datatable -->
    <head>
        <style>
        </style>
    </head>
    <div style="margin-top:-25px">
        <div class="modal-header">
            <div class="modal-title">
                <h3 class="text-black">
                    <i class="icon-stairs-up"></i>&nbsp;&nbsp;Experience
                </h3>
                @*<div class="col-md-6 pull-left">
                        <label class=" checkbox-inline checkbox-right text-semibold col-md-6" for="HaveExperience">
                            @if (LoggedInUser.HaveExperience == true)
                            {@Html.CheckBox("HaveExperience", new { @class = "styled", @id = "HaveExperience", @checked = "checked" })}
                        else
                        { @Html.CheckBox("HaveExperience", new { @class = "styled", @id = "HaveExperience" })}

                            Do have any working experience?
                        </label>
                    </div>*@



                <div class="form-group ">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label text-semibold">Do you have any working experience?</label>
                        </div>
                        <div class="col-md-1">
                            <label class="radio-inline text-semibold">
                                @Html.RadioButton("ExperienceSelection", "HaveExperienceYes", new { @checked = "checked", @id = "HaveExperienceYes" })
                                Yes
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label class="radio-inline text-semibold">
                                @Html.RadioButton("ExperienceSelection", "HaveExperienceNo", new { @id = "HaveExperienceNo" })
                                No
                            </label>
                        </div>
                        @if (LoggedInUser.HaveExperience == true)
                        {
                            using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formCreateID", id = "formCreateID" }))
                            {
                                <div class="col-md-2 text-semibold">
                                    <label class="control-label">Overall Experience </label>
                                </div>
                                <div class="col-md-1">
                                    <input type="text" class="form-control" name="Experience" id="Experience" placeholder="Years" value="@ViewBag.Experience" />
                                </div>
                                <div class="col-md-2 text-semibold">
                                    <label class="control-label">Cement Industry Experience </label>
                                </div>
                                <div class="col-md-1">
                                    <input type="text" class="form-control " name="CementExperience" id="CementExperience" placeholder="Years" value="@ViewBag.CementExperience" />
                                </div>
                            }
                        }
                    </div>
                </div>
                @*<div class="col-md-6 pull-left">
                        <div class="control-label col-md-7 text-semibold">Do you have any working experience?</div>
                        <div class="col-md-2">
                            <div class="radio-inline text-semibold">
                                @Html.RadioButton("ExperienceSelection", "HaveExperienceYes", new { @checked = "checked", @id = "HaveExperienceYes" })
                                Yes
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="radio-inline text-semibold">
                                @Html.RadioButton("ExperienceSelection", "HaveExperienceNo", new { @id = "HaveExperienceNo" })
                                No
                            </label>
                        </div>
                    </div>*@
            </div>
            @*@if (LoggedInUser.HaveExperience == true)
                {
                    using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formCreateID", id = "formCreateID" }))
                    {
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label">Experience </label>
                                <input type="text" class="form-control" name="Experience" id="Experience" placeholder="Years" value="@ViewBag.Experience" />
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Cement Experience </label>
                                <input type="text" class="form-control " name="CementExperience" id="CementExperience" placeholder="Years" value="@ViewBag.CementExperience" />
                            </div>
                            <div class="col-md-2">
                                <button type="button" id="btnPostCreate" class="btn btn-success bg-success-800" value="Save">Save</button>
                            </div>
                        </div>
                    }
                }*@
        </div>
    </div>

    <!-- Page content -->
    <!-- Main content -->
    <!-- Basic datatable -->
    if (LoggedInUser.HaveExperience == true)
    {
        <div class="panel panel-flat">
            <div class="breadcrumb-line bg-primary">
                <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
                <ul class="breadcrumb-elements pull-left bg-blue-800" style="margin-left:-20px">
                    <li>
                        <a href="#" id="ExperienceGetCreate"><i class="icon-add"></i> Add Job Detail</a>
                    </li>
                </ul>
            </div>
            <table class="table datatable-basic">
                <thead>
                    <tr>
                        <th class="text-bold">
                            Employer
                        </th>
                        <th class="text-bold">
                            Manager's Name
                        </th>
                        <th class="text-bold">
                            Nature of business
                        </th>
                        <th class="text-bold">
                            Job Title
                        </th>
                        <th class="text-bold">
                            Joining Date
                        </th>
                        <th class="text-bold">
                            Leaving Date
                        </th>
                        <th class="text-bold">
                            Contact Employer
                        </th>
                        <th class="text-bold">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SupervisorName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpIndustryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.JobTitle)
                            </td>
                            <td>
                                @if (item.StartDate != null)
                                {@item.StartDate.Value.ToString("dd-MM-yyyy");
                            }
                            </td>
                            <td>
                                @if (item.EndDate != null)
                                {@item.EndDate.Value.ToString("dd-MM-yyyy");
                            }
                            </td>
                            <td>
                                @if (item.ContactEmployer == true)
                                {
                                    <strong>Yes</strong>
                                }
                                @if (item.ContactEmployer == false)
                                {
                                    <strong>No</strong>
                                }
                            </td>
                            <td>
                                <button type="button" id="btnGetEdit" onclick="ExperienceDetailGetEdit(@item.ExpID)" class="btn border-info-600 btn-flat text-indigo-600 btn-icon btn-rounded"><i class="icon-pencil6"></i></button>
                                @*<button type="button" id="btnGetDelete" onclick="ExperienceDetailGetDelete(@item.ExpID)" class="btn border-warning btn-xs text-warning-700 btn-flat btn-rounded"><i class="note-icon-trash"></i></button>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    <div class="btn btn-toolbar pull-right">
        <button type="button" onclick="LoadPVEduDetailIndex()" class="btn bg-grey icon-arrow-left15">Previous</button>
        <button type="button" onclick="LoadPVSkillDetailIndex()" class="btn bg-grey icon-arrow-right15">Next</button>
    </div>

}
<script type="text/javascript" src="~/Scripts/Candidate/Experience.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        ExperienceDetailGetCreate();
        PostIndex2();
        HaveExperience();
        LoadExperienceRadioButtons('@LoggedInUser.HaveExperience',@LoggedInUser.CandidateID);
    });
</script>
